[2015-10-21 17:50] slack opened #1 "Permissions too loose on `kube-solo/.env/password`"
Until a workaround is found for not needing sudo password the perms on the password file should at _least_ be restricted.

[2015-10-21 17:52] slack opened #2 "Bootstrap of kubernetes appears to be confused by existing kubeconfig"
I had an existing kubernetes configuration and during bootstrap kubectl tried to use that cluster.

Could drop a `kubeconfig` in kube-solo directory and direct `kubectl` commands to use that config.

[2015-10-21 17:53] slack opened #3 "Quitting the app doesn't kill xhyve processes"
I quit the kube-solo app and it left xhyve running in the background. Subsequent launches of the app confused matters worse.

[2015-10-21 18:22] rimusz commented on #3
what exactly happened there?

[2015-10-21 22:28] slack commented on #3
Clicked App Dropdown -> Quit

Then from a process listing, I still saw a bunch of xhyve instances running.

[2015-10-22 20:08] rimusz commented on #2
fixed in v0.1.4

[2015-10-22 20:08] #2 closed, assigned to nobody

[2015-10-22 20:09] rimusz commented on #3
fixed in v0.1.4

[2015-10-22 20:09] #3 closed, assigned to nobody

[2015-10-22 20:10] rimusz commented on #1
fixed in v0.1.4

[2015-10-22 20:10] #1 closed, assigned to nobody

[2015-10-27 18:42] stevesloka opened #4 "Multiple Nodes"
I understand the project is "solo", but how hard do you think it would be to allow for multiple nodes? =)

When demoing (without wifi say at a conference), I typically want to have everything local. I've had varied success with the current offerings via Vagrant (works great, then need internet to eventually reboot everything).

I'm happy to help contribute the work, just thought I'd ask to see you

[2015-10-27 18:49] rimusz commented on #4
@stevesloka yes vagrant sucks without network, this is why I made xhyve based one Apps.
I'm thinking to convert my https://github.com/rimusz/coreos-osx-gui-kubernetes-cluster one to xhyve too, but xhyve is not so easy dealing with getting IPs. Will start working on it at some time as next week I'm going to San Francisco DevOps days and KubeCon, the Barcelona DockerCon and Distributed Matters. Need

[2015-10-27 18:52] stevesloka commented on #4
Awesome awesome good to hear. I'm completely new to xhyve so I will look to dig in and see what I can come up with. If there's ever something that I can help out with would love to. Thanks again for the really cool app!

[2015-10-27 18:52] #4 closed, assigned to nobody

[2015-10-27 18:55] rimusz commented on #4
@stevesloka also take a look to https://github.com/rimusz/coreos-osx-gui which is great to build docker/rkt images and has built in docker registry, so you can use docker images for this App k8s cluster

[2015-10-27 18:58] stevesloka commented on #4
Ohh very cool. I built a separate VM to do just that. I think I need to just figure out a way to deploy k8s on local CoreOS vms and I'll be happier, that way my restarts / shutdowns should be better. I'll check this out as well.

[2015-10-27 23:00] brendandburns opened #5 "kube-solo wants to write my laptop's password to filesystem"
I really can't let it do this, I'd much rather be prompted for the password when required.

[2015-10-27 23:06] rimusz commented on #5
@brendandburns it gets annoying to type the password twice:
1) to get mac address via uuid
2) to start VM with xhyve
as both need sudo

I'm looking for other solutions to get rid of asking/saving user's password to be used for sudo

[2015-10-27 23:08] brendandburns commented on #5
understood, but the security policy for my laptop forbids things like this, so I need some sort of solution no matter how annoying...

Maybe you can use the OS X keychain somehow?

[2015-10-27 23:10] rimusz commented on #5
@brendandburns maybe for the start I can ask at the install part to save or not to save the password and work from there with two different options

[2015-10-27 23:11] brendandburns commented on #5
sgtm.  thanks

[2015-10-28 16:39] v1k0d3n opened #6 "errors on run..."
i'm receiving some errors, and the instructions are a little unclear (although I think I've done things correctly?)

[code]

what am I missing?

just to show that `xhyve` is installed...

[code]

[2015-10-28 16:43] rimusz commented on #6
@v1k0d3n  I need more details the steps you did.
App uses xhyve which comes with it.

What do you mean about unclear instructions?

[2015-10-28 16:45] rimusz commented on #6
btw I will a new version soon, which does not save Mac user's password to the disk but saves to Keychain instead

[2015-10-28 16:49] v1k0d3n commented on #6
yes please! :+1: i saw mr. burns request, and i completely agree. outside of my company I am ok, but this is a sticking point for running on corp MBP. thanks for the addition!

so I used the included project to compile the application and grabbed the final application artifact (.app file), ran it and used the menu bar "Setup" and "Up" menu items. Is there more to it?

btw. thanks for the quick res

[2015-10-28 16:52] rimusz commented on #6
Just under "Setup" you need to type your Mac user password, maybe that step was not right?
as "sudo" needs to be used twice in the App, get macaddress to uuid and start xhyve

[2015-10-28 16:53] rimusz commented on #5
@brendandburns cool, I got keychain working fine, but a bit stuck on replacing python web server to go based
go based web server works fine for my other App, so the strange problem with this App :)

[2015-10-28 17:02] v1k0d3n commented on #6
deleted the /Users/<user>/kube-solo directory and ran Setup again, and things skipped along happily. thanks for the awesome project! excited to see where this ends up going and having more features/options added in.

[2015-10-28 17:02] v1k0d3n commented on #6
resolved. closing issue.

[2015-10-28 17:02] #6 closed, assigned to nobody

[2015-10-28 18:20] ben opened #7 "Fresh install has DNS issue"
I tried to install this, and ran into some problems. Here's my procedure:
1. Copy the app to `/Applications` and run it. Menubar item shows up.
2. Select Setup > Initial Setup to create the VM, and follow the prompts (10GB disk, beta channel). This sometimes spins forever, but sometimes it succeeds.
3. Select "OS Shell", and try to create something:

[code]

So there's a DNS issue. The `resolv.con

[2015-10-28 18:28] rimusz commented on #7
@ben I never had issues with DNS before, as I use xhyve for my two Apps. xhyve creates a network bridge on 192.168.64.1so DNS should resolve at no problem there. It might be your Mac network then, try to reboot it.

[2015-10-28 18:39] ben commented on #7
A reboot hasn't fixed the issue, I wonder what's going on. I do have dnsmasq running on my OS X machine, but that shouldn't interfere with this. I also have docker-machine running with three VirtualBox-managed machines, but VB is v5.0.4. I've never before used xhyve on this system.

[2015-10-28 18:44] rimusz commented on #5
@brendandburns fixed with v0.1.8

[2015-10-28 18:44] #5 closed, assigned to nobody

[2015-10-28 18:46] rimusz commented on #7
I use xhyve based Apps since xhyve came out, never had issues with DNS, try to stop dnsmasq and see what happens.
But I never use docker-machine, maybe the problem is there?

[2015-10-28 18:53] ben commented on #7
:confused: Disabling dnsmasq while the xhyve image boots makes it work. Weird. Thanks!

[2015-10-28 18:53] #7 closed, assigned to nobody

[2015-10-28 21:13] rimusz commented on #7
@ben told ya :)

[2015-10-29 13:12] ghost opened #9 "Nice. Roadmap ?"
This is great.

Will this allow easy deployment to providers. I need to push out to cge using gcloid and kubectl.

[2015-10-29 13:12] ghost commented on #9
I mean gcloud. Oops

[2015-10-29 13:43] rimusz commented on #9
@gedw99 this is purely done for local kubernetes manifests as rc, services and etc testing.
You can point your kubectl to GCE cluster when you have tested locally and create kubernetes services in the cloud then.

[2015-10-29 16:37] ghost commented on #9
OK thanks. I will try it out

[2015-10-29 16:37] #9 closed, assigned to nobody

[2015-11-04 20:58] rimusz opened #11 "Add an option to install any version of k8s version"
For better k8s testing add an option to install any version of k8s version

cc/@v1k0d3n

[2015-11-05 19:14] rimusz commented on #11
v0.2.2 will have this functionality
cc/@v1k0d3n

[2015-11-08 05:25] rimusz commented on #11
selected stable and beta versions now can be installed

[2015-11-12 01:16] rimusz commented on #11
@v1k0d3n latest v0.2.6 fully supports of any kubernetes version install

[2015-11-12 01:16] #11 closed, assigned to nobody

[2015-11-29 17:55] rroopreddy opened #12 "NoSuchFileException: /var/run/secrets/kubernetes.io/serviceaccount/token"
Thank you, kube-solo-osx that is light on resources and is a nice way to experiment with kubernetes on mac.

Running some examples emit the following error

WARN  17:41:57 Request to kubernetes apiserver failed
java.nio.file.NoSuchFileException: /var/run/secrets/kubernetes.io/serviceaccount/token

It seems like other containers are now relying on  /var/run/secrets/kubernetes.io/serviceaccount/toke

[2015-11-29 18:31] rimusz commented on #12
sure, I will take a look, it should be possible to implement

[2015-11-30 13:38] rimusz commented on #12
@rroopreddy does not look that `kube-up.sh' creates any service account, it depends on the examples
you are trying to run needs. You need to create some service account e.g.:

[code]

[2015-11-30 18:24] rroopreddy commented on #12
@rimusz This is getting created somewhere part of kube_up.sh invocation. , I see the following on on AWS Kubernetes cluster I started with "kube_up.sh"

$:~/cluster-deployment/kubernetes$ ./cluster/kubectl.sh get secrets
NAME                  TYPE                                  DATA      AGE
default-token-kcb4i   kubernetes.io/service-account-token   2         7d

$:~/cluster-deployment/kubernet

[2015-12-01 16:48] rimusz commented on #12
Can you please provide an example you are trying to run?

[2015-12-01 19:11] rroopreddy commented on #12
examples/cassandra from the kubernetes examples folder

On Tue, Dec 1, 2015 at 8:48 AM, Rimas Mocevicius notifications@github.com
wrote:

##

Regards,
☼ Ravi

[2016-01-03 16:12] julienmarie opened #13 "Stuck on Formating k8solo-01 ROOT disk"
It has been 2 hours now for a 5Gb ROOT disk. On 10.10.3.

[2016-01-03 16:14] rimusz commented on #13
right, I do use 10.11.2 myself, need to so how to reproduce it.

What kind of Mac do you have?

[2016-01-03 16:16] rimusz commented on #13
Also can you check if the root.img is in the ~/kube-solo folder?

[2016-01-03 16:17] julienmarie commented on #13
I'm on a macbook pro (1 year old). The root.img is there, 5.37Gb.

[2016-01-03 16:18] julienmarie commented on #13
Had the same problem with coreos-osx

[2016-01-03 16:23] rimusz commented on #13
try to reboot your Mac, as sometimes xhyve cannot start properly

[2016-01-03 16:25] julienmarie commented on #13
ok i try

[2016-01-03 16:34] julienmarie commented on #13
Same. Here is what I have

[code]

Then stuck for a few seconds

[code]

Then nothing

[2016-01-03 16:37] julienmarie commented on #13
If I do

[code]

Does it help?

[2016-01-03 16:48] julienmarie commented on #13
installed xhyve via brew in case... no change

[2016-01-03 18:03] rimusz commented on #13
xhyve is baked in to corectl tool, try- corectl ps

[2016-01-03 18:12] rimusz commented on #13
the binary of corectl is in ~/kube-solo/bin folder
try to clone corectl repo and run an example from there, might help us to find out why it is the VM is booting for you

[2016-01-04 00:47] julienmarie commented on #13
I upgraded to Capitan last night. No change.

I was thinking it has something to do with dd.
I ran some examples of corectl.
`corectl runs` works fine
this command doesnt work

[code]

this works

[code]

then the formatting works:

[code]

The labeling works also

[code]

So I changed functions.sh `create_root_disk:83` function to

[code]

Now I have this that seems better:

[code]

Then still st

[2016-01-04 01:22] julienmarie commented on #13
When I execute just

[code]

 in functions/sh
I get

[code]

And in the same time,

[code]

[2016-01-04 01:31] julienmarie commented on #13
I don't know it it helps

[code]

[2016-01-04 01:58] julienmarie commented on #13
Ok updated to 0.39 and used alpha channel. It works.
Stable channel doesnt

[2016-01-04 08:54] rimusz commented on #13
@julienmarie thanks for your debug information, need to check why it is causing problems on stable channel.
@AntonioMeireles you use 10.10.xxx, can you try to reproduce the problem?

[2016-01-04 09:07] rimusz commented on #13
@julienmarie I'm not able to reproduce the VM not booting (VM boots to format the disk and then restarts with another config, which saves on installing mke2fs tools) on stable on 10.11

[2016-01-04 09:39] rimusz commented on #13
@julienmarie can you the test for me, create and format root.img with `mke2fs` and label it with `ROOT` label then try to boot onto stable channel, thanks

[2016-01-05 16:49] rimusz commented on #13
@julienmarie please try the latest kube-solo v0.4.1, thanks

[2016-01-06 04:03] jchauncey opened #14 "unable to start any k8s fleet units when creating new vm"
[code]

[code]

It basically just waits forever for the cluster to come up. It was working fine and then it just stopped. Ive updated to the latest 0.4.1 release and nothing.

Logs -

[code]

[2016-01-06 08:32] rimusz commented on #14
interesting issue, as it looks like the `~//kube-solo/kube/kube.tgz` file (k8s binaries) does not get copied to VM when it was provisioned.
@jchauncey can you show me the output when you the provision the fresh VM?
You should see there like this:

[code]

[2016-01-06 16:16] jchauncey commented on #14
[code]

[2016-01-06 16:17] jchauncey commented on #14
yeah it looks like it never uploads the tgz

[2016-01-06 16:19] rimusz commented on #14
it does upload, get the latest v0.4.2 with the fixed upload progress, and can you try beta/stable CoreOS?

[2016-01-06 16:29] jchauncey commented on #14
ah k yeah i cna do that

[2016-01-06 16:30] jchauncey commented on #14
so upgrading to 0.4.2 looks like it fixed my issue

[2016-01-06 16:31] rimusz commented on #14
even using the alpha?

[2016-01-06 16:35] #14 closed, assigned to nobody

[2016-01-06 16:35] jchauncey commented on #14
yeah even using alpha

[2016-01-06 16:41] rimusz commented on #14
sweet, thanks for testing

[2016-01-12 09:41] rimusz commented on #13
Root disk is not used anymore, so it's formatting should not be a problem

[2016-01-12 09:41] #13 closed, assigned to nobody

[2016-01-12 18:38] jchauncey opened #17 "cannot get 0.4.4 to start"
[code]

[2016-01-12 18:48] jchauncey commented on #17
ok from `journalctl`

[code]

[2016-01-12 18:48] jchauncey commented on #17
[code]

[2016-01-12 19:17] jchauncey commented on #17
hrm looks like the vm doesnt have access to the internet..

[code]

[2016-01-12 19:35] rimusz commented on #17
@jchauncey weird one, will try to reproduce it. Can you in mean time try to use another coreos channel e.g. stable and see if it works for you, thanks

[2016-01-12 19:37] jchauncey commented on #17
ive tried stable and beta both with the same problem. Making sure its not on my end right now.

[2016-01-12 19:40] rimusz commented on #17
I have tried all three channels on both Apps kube-solo and coreos-osx, both can ping outside

[2016-01-12 19:44] jchauncey commented on #17
yeah i think its on my end... which is weird because i havent had this issue before today.

[2016-01-12 19:45] #17 closed, assigned to nobody

[2016-01-20 19:42] olalonde opened #20 "Hangs at "waiting for VM to be ready""
I clicked the "up" menu option for the first time and it's hangs at "Waiting for VM to be ready..." for >5 mins. Any idea of what might be wrong?

[code]

[2016-01-21 15:07] AntonioMeireles commented on #20
@olalonde hi, thanks for reporting!

what did you had/have in /etc/exports before ? could you paste it here please ?. (also, you're running latest version of kube-solo-osx, right ?)

[2016-01-21 15:08] rimusz commented on #20
@olalonde which OS X 10.10 or 10.11 you have ?

[2016-01-21 17:05] olalonde commented on #20
Thanks for the reply.

I'm on OS X 10.11 and using the latest version of `kube-solo-osx`. VirtualBox 5.0.0r101573

@AntonioMeireles there was indeed something in my `/etc/exports` which I was using for my docker-machine setup (https://gist.github.com/olalonde/74de9d053448b977f77e).

This is the current content of my `/etc/exports`:

[code]

[2016-01-21 17:16] AntonioMeireles commented on #20
@olalonde i guess that if you comment the 1st line things would work. Can you confirm please ?(the issue here is that parent dir is already exported when we're trying to export _just_ your `$homedir`). will try to figure a way to handle this smoothly.

[2016-01-21 18:36] olalonde commented on #20
Thanks that worked!

By the way, is this project related to https://github.com/rimusz/coreos-osx-kubernetes-cluster? They both seem similar though it's hard to tell which one inspired the other.

[2016-01-21 20:21] rimusz commented on #20
yes, both projects are mine. the kube-solo is based on `corect/xhyve` so this why it got moved to the new thenewnormal github org, which is for `corectl`tool and Apps based on it. I'm porting `coreos-osx-kubernetes-cluster` to `corect/xhyve` as well, so that project in future will removed to thenewnormal github org

[2016-01-22 17:13] ghost opened #21 "First time install - Hangs at "Waiting for Kubernetes cluster to be ready. This can take a few minutes...""
Hi gang,

Latest everything.
OS X 10.11.3

Output during initial setup. Looks like fleetctl is not getting installed:

dcvirts-Mac:~ dcvirt$ sudo /Applications/kube-Solo.app/Contents/Resources/first-init.command

Setting up Kubernetes Solo Cluster on OS X

Reading ssh key from /Users/dcvirt/.ssh/id_rsa.pub

/Users/dcvirt/.ssh/id_rsa.pub found, updating configuration files ...

Your Mac user's pass

[2016-01-22 17:45] rimusz commented on #21
no, it looks like you are having a problem with settings file and this is why the VM does not boot for you.
Can you post the `~/kube-solo/settings/k8solo-01.toml` content, please. thanks

[2016-01-22 18:04] ghost commented on #21
Absolutely:

[k8solo-01]
   uuid = "90394897-5956-4F9D-AFC4-E274C45DAB31"
   channel = "stable"
   volume = "data.img"
   cloud_config = "cloud-init/user-data"
   cpus = 2
   memory = "2048"
   local = "true"
   sshkey = 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQClRyPOp59k2zrmwKTtOpQrUTBgITDEiGYF/HcRbxKnkApItsSZdVLrVM88gtegmJ8zc2y6MDliOGVDHmxoooGx3u2mIcBlyIt3k1UvpfhFAoZR3Jju1mkqevOP844JqvZSgZvpzHUT+l

[2016-01-22 18:09] zeroem commented on #21
I'm in the same boat. Using OSX El Capitan, it looks like there's some issue with the downloading as there's no `fleetctl` in the `~/kube-solo/bin` directory.

[Install Log](https://gist.github.com/zeroem/fd66f560081694a34e74)
[settings.toml](https://gist.github.com/zeroem/91158656be6fd28e58dc)

[2016-01-22 18:41] rimusz commented on #21
@drcamp hmm, in your settings file there should be only one `sshkey =...`, as having more gives the error. Which App version are you using?

[2016-01-22 18:43] rimusz commented on #21
@zeroem you settings file looks fine, for some reason VM does not boot.
Which App version are you using?

[2016-01-22 19:11] olalonde commented on #20
Thanks

[2016-01-22 19:11] #20 closed, assigned to nobody

[2016-01-22 19:15] olalonde opened #22 "Feature request: tmux integration"
My iTerm2 profile is configured with **Send text at start:** `tmux attach -t base || tmux new -s base`, which automatically attaches to or launches a tmux session. Which means that when kube-solo-osx tries to launch commands in my terminal, it doesn't work (it just opens a new tab in iTerm2 which attaches to my tmux session and nothing else happens). Would it be possible to configure the app to op

[2016-01-22 19:37] ghost commented on #21
Using 0.4.6

I started from scratch and get the same problem. The extra ssh entries were due to me retrying the setup after ctl-c and running /Applications/Kube-Solo.app/Contents/Resources/first-init.command.

[2016-01-22 20:53] rimusz commented on #21
@drcamp can you try new v0.4.7 version, please?

[2016-01-22 20:54] rimusz commented on #22
I need to think how to use tmux, as I do not want to break App's work for everybody else who do not use tmux

[2016-01-22 21:29] ghost commented on #21
@rimusz

Same problem. Run setup as sudo, fleetctl is not getting installed.

[2016-01-22 21:30] zeroem commented on #21
@rimusz I was installing `0.4.6`

I'll try the newer version and report back.

[2016-01-22 21:35] zeroem commented on #21
Same boat with `0.4.7`

[Install Log and Settings](https://gist.github.com/zeroem/0fb84b8702498d790068)

[2016-01-22 21:37] ghost commented on #21
@zeroem
I can get past that issue if I ctl-c as soon as the script starts and run it via sudo, but get to the "Waiting for Kubernetes cluster...." and it hangs

[2016-01-22 21:48] rimusz commented on #21
sudo is not needed there if you follow the right install procedure.
@AntonioMeireles can we get your input here?

[2016-01-22 22:05] ghost commented on #21
UPDATE:

Removed all kube-solo bits, rebooted machine, installed with 0.4.7 and all is well thus far. Not sure what the issue was.

[2016-01-22 22:12] rimusz commented on #21
cool, can we close this then?

[2016-01-22 22:19] ghost commented on #21
@rimusz
Yes, let's do. I will work on it tonight and start a new issue-thread if needed.

Thanks everyone,
-DC

[2016-01-22 22:20] rimusz commented on #21
awesome

[2016-01-23 00:26] olalonde commented on #22
Understood. Maybe if you could point me to the bash script I would need to edit to make this work, I could try to figure something out. If I need to touch Obj-C code though, I'm useless

[2016-01-23 00:40] rimusz commented on #22
this one https://github.com/TheNewNormal/kube-solo-osx/blob/master/src/up.command gets called the you do `Up`

[2016-02-05 09:39] westende opened #30 "Not able to start VM because of /etc/exports"
First of all thank you for your efforts trying to make development on Kubernetes this easy on OSX.

I am now still doing a lot of development using Vagrant & Virtualbox. Therefor there are some Vagrant generated entries in my /etc/exports. With these entries the VM does not boot up. When I remove these, the VM does boot up.

I have not yet looked at the code, so I'm not sure if this is a problem w

[2016-02-05 09:41] AntonioMeireles commented on #30
@piepkrak

Hi! could you please paste here your existing `/etc/exports` ?. For some reason it isn't passing our smoke tests... And many _thanks_!

[2016-02-05 10:11] westende commented on #30
Hi! Hereby my /etc/exports file. I changed the names of projects for privacy reasons

[code]

[2016-02-05 14:51] wstrange commented on #30
FWIW, I also had an issue with kube-solo and my /etc/exports. The install would bomb out.

In my case I just discarded the entry that Vagrant put in - so I don't have it anymore. I suspect there is an issue parsing the format.

[2016-02-05 19:29] #22 closed, assigned to nobody

[2016-02-05 21:43] wstrange commented on #30
A lateral thought...

Is sudo needed just for /etc/exports?

It might be better to not save the sudo password.  The user presumably would need to provide it once to fix up exports - but after that it should not be needed. Might be safer.

[2016-02-06 21:02] rimusz commented on #30
@wstrange sudo password is needed for corectl/xhyve to boot VMs

[2016-02-08 08:29] AntonioMeireles commented on #30
@piepkrak

the issue here is that `corectl` expects to be able to export via NFS `${HOME}` and that fails because a subdir (actually in your case, quite a few ones) of it is already set as exported (via Vagrant). Unless there is a way,in OS X, that i'm unware of, of exporting at same time both a dir  and a subdir of it, i think that the best i can do here is just print a more meaningfull failure m

[2016-02-08 08:34] rimusz commented on #30
@AntonioMeireles such message would be really nice to have and then the VM's boot should continue

[2016-02-08 08:38] AntonioMeireles commented on #30
@rimusz,
long(er) story short - having a warning/check is a good thing to have, OTOH allowing VMs to boot without `${HOME}` being properly exported on host tricky as a lot of functionality ends depending on just that ... Will need a carefull deep look.

[2016-02-10 21:17] jchauncey opened #33 "Chaging mac password"
Things start getting weird. It seems that you cant destroy a VM if that happens.

[2016-02-10 22:10] rimusz commented on #33
@jchauncey there is an option to change the password in Setup

[2016-02-11 23:24] whitlockjc opened #34 "Private Docker registry"
Thanks a lot for your work.  I was wondering if you've had any thoughts about running a local Docker registry that Kubernetes is configured to use.  This would simplify development/testing quite a bit because you could build an image on the host system, push to the Docker registry and create a new pod/service deployment for Kubernetes without having to do all of the SSH dancing mentioned in TheNew

[2016-02-11 23:33] whitlockjc commented on #34
I think I just found out you already do this: _"Kube-Solo App can be used together with CoreOS VM App which allows to build Docker containers and has a private local Docker registry v2 which is accessible from Kube-Solo App."_  Feel free to close this once you confirm.

[2016-02-12 00:03] whitlockjc commented on #34
I'm an idiot.  I see that this VM along with the _CoreOS VM App_ gives me what I need.  Sorry about the noise.

[2016-02-12 00:33] whitlockjc commented on #34
I'm going to reopen this because things still aren't working and I'd like to see if we can get this figured out.  When I run the _CoreOS VM App_, I do indeed have a Docker Registry.  But when I try to `docker push`, I get the following:

[code]

If I use `http` to access the Docker Registry API, it works fine.  _(This test was performed via the browser.)_

Also, the more I think about this the mor

[2016-02-12 08:49] rimusz commented on #34
@whitlockjc docker registry in CoreOS OSX App is configured to work without `https`, do not see any point of it for the private local registry.

I do not include private registry in kube-solo as there is kube-cluster app too, which needs to access to docker registry.

coreos app is used to build docker containers and has the private registry docker images to be pushed to, then images can be reused

[2016-02-12 10:46] rimusz commented on #34
I was thinking how to make better use of private docker registry. One more small I think will be too much to have.
What I'm going to do is separate the `coreos VM` boot and docker registry start.
I will add an extra menu options to `coreos VM` App to start/stop docker registry,
that will allow build docker images and push to registry, then stop `coreos VM` and
still able to reuse docker registry f

[2016-02-12 17:16] whitlockjc commented on #34
I get you.  There's no need to bulk up the kube-solo but I'm still wondering why my attempt to `docker push` results in errors and it _appears_ to be because the Docker Registry isn't running via https.  I say _"appears"_ because of the error and because I have no expertise in the area to confirm one way or another.

I'm all for keeping two VMs for the reasons you stated but I do think we'll need

[2016-02-12 17:19] rimusz commented on #34
docker registry works on CoreOS VM just fine, but just does not use the `https`, so use `http` and you will be fine.
As mentioned before I do not see any point use `https` for the local docker registry setup, no needs to complicate things

[2016-02-12 17:22] whitlockjc commented on #34
So what do I need to do for things to work?  I just run `docker push` right now and `docker` is the one forcing, or assuming, https.  I'll keep googling.  Thanks again.

[2016-02-12 17:22] #34 closed, assigned to nobody

[2016-02-12 17:31] rimusz commented on #34
I use registry on `CoreOS VM` e.g. like this:

[code]

As you see it works just fine

[2016-02-12 17:38] whitlockjc commented on #34
Cool.  Maybe since I never used `docker pull`, something wasn't setup properly.  I just built an image locally and then tried to push it.  I'll try your approach and if you don't hear from me, things are working fine.

[2016-02-12 23:02] whitlockjc commented on #34
The fix was to unset `DOCKER_TLS_VERIFY` and `DOCKER_CERT_PATH`.  This could use some documentation and I'd be happy to add it if you want.  Here is a working example: `DOCKER_HOST=tcp://192.168.64.3:2375 DOCKER_TLS_VERIFY= DOCKER_CERT_PATH= ~/coreos-osx/bin/docker ps`  Of course, if I just run `DOCKER_HOST=tcp://192.168.64.3:2375 ~/coreos-osx/bin/docker ps`, that's when I get the error related to

[2016-02-13 13:06] rimusz commented on #34
ah, `docker-machine` again, this is why I do not use it as I like my default shell to be clean.
I will release a new version next week with `DOCKER_TLS_VERIFY= DOCKER_CERT_PATH=` in preset shell.

[2016-02-13 13:07] rimusz opened #35 "set docker env vars in preset shell"
`DOCKER_TLS_VERIFY=`
`DOCKER_CERT_PATH=`
as `docker-machine' sets them up

[2016-02-13 17:16] whitlockjc commented on #34
I think that would help, or even documenting something to the effect of _"Coexisting with docker-machine"_ or _"Migrating from docker-machine"_.  Regardless, thanks for all of your help and I'm glad I was able to figure it out.

[2016-02-14 03:22] jtblin commented on #21
I'm getting the same problem with `0.5.2`. Upgraded an existing installation deleting kube-solo directory as indicated, after reboot I couldn't get `kube-solo` to work anymore. Removed the app `rm -rf /Applications/Kube-Solo.app` and kube-solo directory `rm -rf ~/kube-solo` and tried reinstalling but it's stuck on `Waiting for Kubernetes cluster to be ready. This can take a few minutes...`.

[code

[2016-02-14 03:24] jtblin commented on #21
Content of `~/kube-solo/settings/k8solo-01.toml`

[code]

[2016-02-14 03:27] jtblin commented on #21
kubeconfig server address seems weird:

[code]

[2016-02-14 13:13] rimusz commented on #35
related only for CoreOS VM App

[2016-02-14 13:13] #35 closed, assigned to nobody

[2016-02-14 13:13] #33 closed, assigned to nobody

[2016-02-14 22:24] jtblin commented on #21
After I deleted everything again and rebooted my MBP, I selected the `Beta` CoreOS release channel and I was able to install the latest version without issue.

Either there was something weird going on and it needed a reboot, either kube-solo uses the kubelet installed on CoreOS to boostrap Kubernetes? kubelet is not part of the coreos stable release channel anymore: https://github.com/coreos/bugs

[2016-02-16 08:53] rimusz commented on #21
@jtblin kube-solo does not use the `kubelet` which comes with coreos.
all files required by kubernetes get copied to VM when install is done

and the `~/kube-solo/kube/kubeconfig` has not server IP because the VM was not able to start

[2016-02-17 21:01] westende commented on #30
@AntonioMeireles Thank you for the explanation. I've never encountered this before. Will just swap the /etc/exports files for now.

[2016-02-19 19:59] jchauncey opened #36 "kubectl bin script overrides context"
So just ran into an issue where I wanted to override the envvar KUBECONFIG and pass in my own file. However, kubectl in `~/kube-solo/bin/kubectl` overrides that with a command line flag. Much confusion was had.

[2016-02-19 20:58] rimusz commented on #36
yup, it does do that to ignore your ~/.kube/config and then kubectl can connect to kube-solo master correctly

[2016-02-20 22:46] mbrevoort opened #37 "Error: 'k8solo-01' not found, or dead"
Hi,

I'm having problems getting the VM to come up. I'm on OS X 10.13.3 with Virtual Box 5.0.14 r105127. I'm hoping you know exactly what the problem is :)

Thanks for making this project. I hope I can get it working!

[code]

[2016-02-22 09:29] rimusz commented on #37
@mbrevoort first able the Virtual Box is not needed for this App to function.

And you cannot run the App directly from the `dmg` file, you  need to drag the App to your Desktop or Applications folder and run from there.

[2016-02-22 09:31] #36 closed, assigned to nobody

[2016-02-22 10:18] #12 closed, assigned to nobody

[2016-02-22 12:29] rimusz commented on #37
@mbrevoort latest App version v0.5.3 does not allow to start the from the DMG, it should be fix your problem

[2016-02-23 00:09] mbrevoort commented on #37
@rimusz I tried it again with the latest and running out of Applications and I'm seeing the same error :/

[code]

[2016-02-23 04:36] mbrevoort commented on #37
For what it's worth, I tried the kube-cluster project as well and had the same problem.

[2016-02-23 05:01] mbrevoort commented on #37
:weary: I restarted my machine... and I'm not seeing the error any more

[2016-02-23 09:12] rimusz commented on #37
@mbrevoort your network setup just was messed up, maybe by virtualbox, rebooting should sort you out.

@AntonioMeireles is any way why we can check with `corectl` it and reset the network ?

[2016-02-23 10:08] rimusz commented on #34
@whitlockjc https://github.com/TheNewNormal/coreos-osx/releases/tag/v1.2.2 automatically presets:

[code]

Please check it out and let me know if any issues you have encountered

[2016-02-24 20:04] davidmankin commented on #30
Thanks.  This bit me too because I use Vagrant.  Would be nice to be able to make a special dir not under my homedir and export that to avoid conflicts.

[2016-02-24 20:07] rimusz commented on #30
@AntonioMeireles is working on some solution :)

[2016-03-01 00:36] wstrange commented on #37
Same issue for me.  I was using VBox - so it may have messed things up.

[2016-03-02 23:30] elementalvoid commented on #30
In my case the conflict is with https://github.com/nlf/dlite.

[code]

[2016-03-06 02:34] cmoad commented on #30
I'm also experiencing a conflict with dlite as mentioned by @elementalvoid.

[2016-03-08 13:36] esbenp commented on #21
I have the same error when trying to boot up my VM. I do not know if the two issues are unrelated, since this occurs on boots after the initial, and I do not get any fleetctl errors.

If i destroy my Kube-Solo VM and recreate it I can get it to work the first time. However, I am unable to get it up and running after I halt my VM.

I get this error with both stable and beta version of CoreOS.

I ha

[2016-03-08 14:02] rimusz commented on #21
@esbenp ssh to kube-solo VM and check that the internet is accessible from there

[2016-03-08 15:25] esbenp commented on #21
[code]

[2016-03-08 15:49] rimusz commented on #21
@esbenp you have failed docker.service unit there, check it's logs
and post it here

[2016-03-08 17:40] esbenp commented on #21
[code]

[2016-03-08 20:59] rimusz commented on #21
@esbenp can you `journalctl -u docker.service -l`as the messages are cut

[2016-03-09 08:02] esbenp commented on #21
[code]

I tried `docker volume ls`

[code]

[2016-03-09 08:57] rimusz commented on #21
this is our problem `lstat /var/lib/docker/volumes/65a7aad8ad1b612babb001d8cbdbe45775697d3ba5a73942e8740810aa70ef68: input/output error`
The docker did not get mounted properly, I use `ext4` there, will try to switch to `btrfs` in the next release.
Heading to the KubeCon today, so will cut a new version next week

@AntonioMeireles any advice on this problem?

[2016-03-14 23:33] wstrange commented on #21
Not sure if this is related, but I can no longer bring up kube-solo. etcd wont start
Mar 14 23:31:13 k8solo-01 etcd2[1431]: read wal error (walpb: crc mismatch) and
Mar 14 23:31:13 k8solo-01 systemd[1]: etcd2.service: Main process exited, code=e
Mar 14 23:31:13 k8solo-01 systemd[1]: Failed to start etcd2.
Mar 14 23:31:13 k8solo-01 systemd[1]: etcd2.service: Unit entered failed state.
Mar 14 23:31:

[2016-04-01 16:27] openjack commented on #21
Switching to 'beta' got me passed the "Waiting for Kubernetes cluster to be ready..." issue.

[2016-04-01 16:35] ianwalter opened #45 "Can't get the dashboard working"
I get the following response:

[code]

[2016-04-01 16:48] rimusz commented on #45
might be still in downloading of containers process
check with `kubectl --namespace=kube-system get po` for pod `kubernetes-dashboard-v1.0.0`

[2016-04-01 23:13] whitlockjc commented on #36
Is this still up for debate?  I just ran into this situation as well when attempting to update `~/.kube/config` to connect to another k8s environment.  I updated the file as expected, tried to `kubectl config use-context my-new-context` only to have it fail.  I remembered setting my environment to use the `kubectl` from kube-solo and when I looked into it, it's a shell script that sets `--kubeconf

[2016-04-02 08:09] rimusz commented on #36
@whitlockjc as I have mentioned above kube-solo does not touch your `/.kube/config`, when you open `Preset OS Shell` via App then `$HOME/kube-solo/kube/kubeconfig` is used. If you open another shell window not via App then your kubectl will look to `/.kube/config`. As in that way you can work with two k8s clusters at once.

[2016-04-02 13:34] jchauncey commented on #36
Just don't symlink the kubesolo kubectl to your path and your fine.
On Apr 2, 2016 4:09 AM, "Rimas Mocevicius" notifications@github.com wrote:

[2016-04-02 20:55] ianwalter commented on #45
I think my laptop was on a shaky connection. I tried on my desktop and was able to get everything set up successfully.

[2016-04-02 20:55] #45 closed, assigned to nobody

[2016-04-07 22:40] markTward opened #46 "deis launched applications unreachable from host"
I discover kube-solo-osx today from a deis blog post.  The ultimate intent in experimenting with kube-solo was to have a fast path for working with deis.  Toward that, I've received a mostly successful result, but am having an issuing reaching my launched services.

I've followed through the kube-solo and install_deis process successfully.  I then was able to create and deploy using 'deis create'

[2016-04-11 09:14] rimusz commented on #46
@markTward Deis Apps usually are accessed in the case of Kube-Solo via router IP, as there is no LoadBalancer.
e.g. app_name.kube-solo_ip.xip.io

[2016-04-13 13:33] BrunoBonacci opened #49 "Error during initialization."
Running Kube-Solo v0.5.6 on OSX 10.11.2

During the initial setup i get the following error

[code]

Here the complete output

[code]

I assume that the corectl rather than moving the file after the validation it tries to link it (such as: ln)
and this causes problem when the temp directory is in a different mount point than the kube-solo.

can anyone help me with this?

[2016-04-13 18:49] rimusz commented on #49
it looks like the coreos image by `corectl` tool was not properly downloaded, try to delete the iso image in `~/.coreos` folder, delete the VM's `~/kube-solo`folder and run `Up`

[2016-04-13 21:28] BrunoBonacci commented on #49
Hi @rimusz,
as you can see from the output the image verification is successful, so it can't be a broken download (i've tried several times and deleted both `.coreos` and `kube-solo` directories).

I think that the error message is the best clue:

[code]

I assume that the underlying implementation of corectl is trying to do the following things:
- download the image in the `/tmp` directory
- veri

[2016-04-13 22:01] rimusz commented on #49
@BrunoBonacci can you report that issue on https://github.com/TheNewNormal/corectl please, as the problem is related with `corectl` tool, thanks

[2016-04-23 20:37] rodcloutier opened #52 "Connection refused on exposed port"
I am trying to publish a Service using the NodePort type and we I try to access the service I keep getting refused connections. Any hints on how to solve this? I am using the Kubernetes' hello world example

[code]

[2016-04-24 09:12] rimusz commented on #52
@rodcloutier I see you are using pot 8888 in `kubectl run hello --image=192.168.64.1:5000/hello-node:v1 --port 8888` but hello world example uses 8080

[2016-04-24 11:18] rodcloutier commented on #52
Doh... that solves it. Thanks!

[2016-04-24 11:18] #52 closed, assigned to nobody

[2016-05-10 14:25] chrislovecnm commented on #21
@openjack I had to tank the install, and then go to beta.  From there I can start it.  At least start it once 😄

[2016-05-10 15:24] chrislovecnm opened #55 "Add NFS mount point"
Is it possible to add another NFS mount point to the image when it starts?

Thanks

[2016-05-12 08:54] puja108 commented on #37
It's a bit annoying, VBox (or Vagrant) seems to not be cleaning up after itself. Removing host-only nets (vboxnets) that were unused and rebooting fixed the problem for me. I'm just waiting for the next vagrant setup to break it again, though...

[2016-05-12 09:00] rimusz commented on #37
@puja108 yup, that's really annoying, but as my use case does not need any vbox/vagrant based setups
I do not encounter such problems. I hope docker opens their Docker for Mac code, so we can reuse their fixes they have done for the xhyve.

[2016-05-12 09:43] puja108 commented on #37
@rimusz Yeah, I was about to say that. I'm testing the Docker beta for Mac and it never has these problems. Hope they give a bit of that back to the community.

[2016-05-12 09:46] rimusz commented on #37
@puja108 I do not want pure @AntonioMeireles to spend time fixing that problem :)

[2016-05-12 10:11] rimusz commented on #55
@AntonioMeireles ping

[2016-05-12 10:12] #46 closed, assigned to nobody

[2016-05-12 10:15] AntonioMeireles commented on #55
it is. the issue is how to do that in a simple/reliable way (i.e via some sort of machinery we provide).
to do it manually one just need to have it available on host and on VMs side pass via custom cloud-config   a specific systems service set to mount it at boot (similar to the one that mounts inside the VM the host's homedir.

[2016-05-12 13:21] rimusz commented on #49
this problem should be fixed with `corectl` v0.5.5 which is now included in `kube-solo` v0.5.9 release

[2016-05-12 14:07] BrunoBonacci commented on #49
Hi,
I've just tried with kube-solo 0.5.9 and the problem is still there.
Moreover the related ticket for corectl seems still open.

[2016-05-12 14:10] rimusz commented on #49
@AntonioMeireles ping

[2016-05-12 14:15] AntonioMeireles commented on #49
@rimusz commenting on https://github.com/TheNewNormal/corectl/issues/71

[2016-05-13 11:00] AntonioMeireles commented on #49
fixed in https://github.com/TheNewNormal/corectl/releases/tag/v0.5.6

[2016-05-13 11:00] #49 closed, assigned to nobody

[2016-05-13 18:19] BrunoBonacci commented on #49
@rimusz do you have an ETA for a new release?

[2016-05-13 18:53] rimusz commented on #49
@BrunoBonacci released https://github.com/TheNewNormal/kube-solo-osx/releases/tag/v0.6.0

[2016-05-13 18:55] rimusz commented on #21
guys can you try the latest https://github.com/TheNewNormal/kube-solo-osx/releases/tag/v0.6.0 to see if the problem still exists, thanks

[2016-05-13 19:01] chrislovecnm opened #60 "Add capability to run non tagged version of k8s"
Any way to run master on this awesome piece of software??

[2016-05-13 19:02] rimusz commented on #60
@chrislovecnm it does have master services and node ones as well

[2016-05-13 19:07] chrislovecnm commented on #60
Let me see if I can ask this question better... Can I run the latest source code off of the master branch on k8s github repo?  Bleeding edge 😄

[code]

Run those binaries

[2016-05-13 19:30] rimusz commented on #60
I see, any prebuilt version from https://github.com/kubernetes/kubernetes/releases can be installed via 'Updates->Change Kubernetes version'
So basically you want to use locally built binaries, hmm it should be possible to automate, just need to find a time for that.
As a work around for now you can built binaries, copy OS X `kubectl` to `/kube-solo/kube` and update `/kube-solo/kube/kube.tgz` with

[2016-05-13 19:36] chrislovecnm commented on #60
@rimusz WOOP!!

[2016-05-13 19:39] chrislovecnm commented on #60
FREE COOKIE FOR YOU!!

[2016-05-13 19:40] rimusz commented on #60
that `hack/build-go.sh` takes ages on my mac mini to run

[2016-05-13 19:42] chrislovecnm commented on #60
`<facepalm>`

[2016-05-13 19:43] rimusz commented on #60
@chrislovecnm take a look to https://github.com/TheNewNormal/kube-solo-osx/blob/master/src/functions.sh#L270-L338 and if you have time to hack a new function to build form source the git gist will be very welcome, I will do the rest to include it to the App

[2016-05-13 20:42] BrunoBonacci commented on #49
Thanks for the release. Now it works, but I'm hitting another problem

[code]

Which seems been already reported https://github.com/TheNewNormal/kube-solo-osx/issues/30

[2016-05-14 03:42] chrislovecnm commented on #21
Same thing @rimusz ... btw I switched the k8s version during "Waiting for Kubernetes cluster to be ready..." issue, and it fixed it.

[2016-05-14 12:30] AntonioMeireles commented on #49
@BrunoBonacci can you plz paste here you existing `/etc/exports` ? thanks!

[2016-05-14 12:59] BrunoBonacci commented on #49
@AntonioMeireles my `/etc/exports` it's empty.

[2016-05-14 14:19] AntonioMeireles commented on #49
humm. just remove the file plz and try again.

[2016-05-14 14:39] BrunoBonacci commented on #49
done that, the error is the same and it creates a new empty `/etc/exports`

[2016-05-14 14:58] AntonioMeireles commented on #49
`df -k` output please. (sorry lag - on the road this weekend)

[2016-05-14 15:04] BrunoBonacci commented on #49
[code]

[2016-05-14 15:06] AntonioMeireles commented on #49
ah! your homedir is under /home which is itself a mountpoint so it looks that nfsd is failing to export the homedir. will do some research and come back to you early monday.

[2016-05-14 15:09] BrunoBonacci commented on #49
Yeah, that was the same cause of the original issue in first place.
Sorry I probably should have made clearer from the beginning.

[2016-05-18 18:10] puja108 commented on #37
As we were talking about it, maybe the tools they just published could help: https://blog.docker.com/2016/05/docker-unikernels-open-source/

[2016-05-18 18:38] rimusz commented on #37
@puja108 we already saw that announcement and @AntonioMeireles is going to look more deeply to the fixes done there tomorrow

[2016-05-19 11:41] rimusz commented on #60
fixed by #61

[2016-05-19 11:41] #60 closed, assigned to nobody

[2016-05-27 20:17] rimusz commented on #21
Latest v0.6.3 addresses those issues

[2016-06-02 14:13] kvacquier opened #69 "Docker local repository unreachable"
I've tried to push a docker container built on the k8solo machine (via the sh) and now i would like to push it to use it in my replication controller (it's a custom one).
Built with : docker build -t localhost:5000/my_container:0.1 -f Dockerfile  .
When i try to push it (i believe to local host) i only have Put http://localhost:5000/v1/repositories/my_container/: dial tcp 127.0.0.1:5000: getsockop

[2016-06-02 14:26] rimusz commented on #69
@kvacquier do you have local docker registry running?

[2016-06-02 14:27] kvacquier commented on #69
Isn't it automaticaly launched ?

[2016-06-02 14:29] rimusz commented on #69
nope, kube-solo does not have it. but you can use my other app CoreOS VM, with it you can build docker images and it has the local docker registry which is accessible for the kube-solo

[2016-06-02 18:24] rimusz commented on #69
this not the issue, so I'm closing it

[2016-06-02 18:24] #69 closed, assigned to nobody

[2016-06-04 17:30] BrunoBonacci commented on #49
Hi @AntonioMeireles,
any progress on this?

[2016-06-04 17:34] AntonioMeireles commented on #49
yes, sorta... _soon_ one will be able to define the mountpoint locations _a la carte_ which workarounds this in some way... after that we plan to stop relying in NFS which will end this issue once and for all.

[2016-06-04 17:53] BrunoBonacci commented on #49
Great, looking forward to it. thx

[2016-06-08 21:00] mboersma opened #73 "kube-solo halts unexpectedly"
While using kube-solo v0.6.4 (and earlier versions), I often see the k8s api become unresponsive. All I can tell is that the VM has halted. If I click the "Up" menu item, kube-solo starts up as if nothing were wrong.

This happens often and easily--my test case is running the workflow-v2.0.0-e2e chart on top of Deis workflow-v2.0.0. Let me know if there are any logs I can provide. I have also trie

[2016-06-09 12:53] rimusz commented on #73
@mboersma can you provide the exact steps, so I can try to reproduce it. thanks

[2016-06-09 19:38] theganyo opened #76 ""Preset OS shell" asks for password"
When I run the "Preset OS shell" option, I get asked for a password. Should it do that? If so, what password does it expect?

[code]

Thanks!

[2016-06-09 19:42] rimusz commented on #76
@theganyo did your VM start normally?
You should not be asked for the password.

[2016-06-09 19:45] theganyo commented on #76
Yes, it seemed to:

[code]

[2016-06-09 22:39] mboersma commented on #73
@rimusz here's what I do:
1. Install latest kube-solo
2. Delete /etc/exports
3. Go through kube-solo initial setup (allocate 4GB RAM, 30GB disk)
4. Install the workflow-v2.0.0 chart with `helmc`
5. Install the workflow-v2.0.0-e2e chart and let the tests run

Reliably, somewhere in the middle of the test run there will be an unexpected error, or the suite will just stall. Looking at kube-solo shows

[2016-06-10 09:29] rimusz commented on #73
@AntonioMeireles ping, any ideas why the `corectl` could crash after running for 30 min, I'm not able to reproduce it yet.

[2016-06-10 11:35] AntonioMeireles commented on #73
humm. this doesn't seem a deterministic issue here too.

@mboersma - for context and to try to scope this issue - OS X version/RAM & hw version ?(not an hackintosh, right ?) . do you get anything in the system logs (command-space > console > search for corectl)  ? thanks!

[2016-06-10 19:58] theganyo commented on #76
Also, I attempted to launch the "Kubernetes Dashboard" and received this error:

[code]

[2016-06-10 20:00] rimusz commented on #76
@theganyo can you do the fresh VM install, something must be went wrong there

[2016-06-10 20:13] theganyo commented on #76
Ok. Here's what I did:
- Destroy VM
- rm -rf ~/kube-solo
- Initial Setup (Stable)
  (The only error I got here was: "[ERROR] Remote kube-charts already exists, and is pointed to https://github.com/TheNewNormal/kube-charts")
- Up

All of that seemed to go just fine.
Also, Kubernetes dashboard seems to work now.

The original issue with "Preset OS shell" remains, however.

Is there anything else I c

[2016-06-11 11:16] rimusz commented on #76
that's weird one, try to delete the whole app folder, I will look and try to find what could cause this problem

[2016-06-14 17:41] dmcnaught opened #79 "New install - 0.6.6 (tried previous versions too) - fleet units not starting up properly. Hangs at waiting..."
[code]

When I ssh to VM:

[code]

[code]

[2016-06-14 17:43] rimusz commented on #79
@dmcnaught ssh to VM and check that the Internet is reachable from there

[2016-06-14 17:46] dmcnaught commented on #79
Doesn't seem like it is @rimusz

[code]

[2016-06-14 17:48] rimusz commented on #79
so you need to check what's wrong with you Mac networking then, try just simple reboot first

[2016-06-14 17:49] dmcnaught commented on #79
I rebooted a few times as part of troubleshooting. I have had no other issues with networking, virtualbox...

[2016-06-14 17:50] rimusz commented on #79
so something is still not right there, as the App uses `xhyve` based setup and network there is just a bridge.

[2016-06-14 17:52] dmcnaught commented on #79
Should xhyve be available on my system from the command line?

[2016-06-14 17:54] rimusz commented on #79
no, it comes with the App as `corectl` tool, which is a wrapper around `xhyve` and made to control CoreOS VMs on Mac.

[2016-06-14 17:55] dmcnaught commented on #79
How can I view the VM settings?

[2016-06-14 17:58] rimusz commented on #79
check https://github.com/TheNewNormal/corectl tool and the `user-data` is in `~/kube-solo/cloud-init`

[2016-06-14 18:00] AntonioMeireles commented on #79
@dmcnaught,  are you by chance behind a firewall ? (trying to isolate root issue)

[2016-06-14 18:01] dmcnaught commented on #79
@AntonioMeireles No - I'm in my home office.

[2016-06-14 18:05] AntonioMeireles commented on #79
[code]

gist plz output of `ifconfig`, and `systemctl list-units` of the VM. (and THANKS for your patience)

(to exit the VM run `sudo halt`)

[2016-06-14 18:08] dmcnaught commented on #79
[code]

[2016-06-14 18:10] dmcnaught commented on #79
(after I removed /etc/exports)

[2016-06-14 18:10] AntonioMeireles commented on #79
@dmcnaught what Mac (model) are you running this ?

[2016-06-14 18:10] dmcnaught commented on #79
MacBookMacBook Pro (Retina, 15-inch, Mid 2015)
2.2 GHz Intel Core i7
16 GB 1600 MHz DDR3
running El Capitan v10.11.5

[2016-06-14 18:12] AntonioMeireles commented on #79
_interesting_ as that definitivelly supports Vt-x/EPT. `dmesg` output plz.

[2016-06-14 18:14] dmcnaught commented on #79
Could it be a problem with zsh?

[2016-06-14 18:15] AntonioMeireles commented on #79
doubt it as also use it :-)

[2016-06-14 18:16] dmcnaught commented on #79
https://gist.github.com/dmcnaught/99d6d647a2ed4917698ee015544023be

[2016-06-14 18:32] dmcnaught commented on #79
It's a weird progression:

[code]

[code]

[2016-06-14 18:34] AntonioMeireles commented on #79
better. for the 1st error  `coreos pull -f` would do the trick.
for the second ... paste your `/etc/exports` plz

[2016-06-14 18:34] dmcnaught commented on #79
No image in the alpha dir that was created before the error.

[2016-06-14 18:34] dmcnaught commented on #79
cat /etc/exports
/Users/duncan.mcnaught -network 192.168.64.0 -mask 255.255.255.0 -alldirs -maproot=root:wheel

[2016-06-14 18:35] dmcnaught commented on #79
corectl pull -f                                                                                                                              255 ↵
[corectl] downloading and verifying alpha/1068.0.0
Error: Signature check for DIGESTS failed.

[2016-06-14 18:35] AntonioMeireles commented on #79
strange. lack of image shouldn 't give us trap errors. will try to reproduce.

[2016-06-14 18:36] dmcnaught commented on #79
[code]

[2016-06-14 18:37] AntonioMeireles commented on #79
`corectl version` gives you what ? you are running `0.5.10` right ?

[2016-06-14 18:37] dmcnaught commented on #79
[code]

[2016-06-14 18:39] AntonioMeireles commented on #79
explained... too old. `brew update && brew upgrade --all` should set you right ... (/me crosses fingers)

[2016-06-14 18:45] dmcnaught commented on #79
ok - VM running - here is output of the two commands:
https://gist.github.com/dmcnaught/d9bd94144f7cfd100feb96e47fae5c32

[2016-06-14 18:49] dmcnaught commented on #79
on that host:

[code]

[2016-06-14 18:50] AntonioMeireles commented on #79
about to go afk. what timezone are you in ? will reach you tomorrow to sort this out

[2016-06-14 18:50] dmcnaught commented on #79
USA:MT, ok - thanks

[2016-06-14 18:51] AntonioMeireles commented on #79
ok. i'm in GMT-0. ping me on your morning. will be around.

[2016-06-14 23:04] mboersma commented on #73
I'll try again with [v0.6.6](https://github.com/TheNewNormal/kube-solo-osx/releases/tag/v0.6.6) and add more detail here if I can reproduce the issue.

[2016-06-15 11:19] VahidR commented on #21
I used the version **v0.6.6** and the problem still exits.
The workaround for me, as others said, was to use the "**Beta**" version of CoreOS

[2016-06-15 15:21] dmcnaught commented on #79
Ping @AntonioMeireles

[2016-06-15 15:22] AntonioMeireles commented on #79
@dmcnaught i'm n another live debug session atm .. will ping you here after that one :-)

[2016-06-15 15:22] dmcnaught commented on #79
ok

[2016-06-15 15:32] mboersma commented on #73
It did happen to me again with v0.6.6 of kube-solo, following the steps I described above. This time I used the workflow-dev and workflow-dev-e2e charts. At the start of the workflow-e2e tests, the VM apparently halted. The console app had this:

[code]

The 9:25 `has been stopped` message seems to correspond with the VM halting, after which I chose the "Up" menu item in kube-solo to bring it up a

[2016-06-15 16:13] AntonioMeireles commented on #79
@dmcnaught can you ping me in kubernetes' slack please ?

[2016-06-16 18:32] dmcnaught commented on #79
Worked with @AntonioMeireles in Slack - had to turn off Firewall on Mac (then fleet-ui.service starts ok), and also update /etc/resolv.conf in VM to 8.8.8.8 and restart fleet-units.

[2016-06-16 18:44] dmcnaught commented on #79
/etc/resolv.conf does keep getting re-written back to nameserver 192.168.64.1 though, so I don't really have a useable environment...

[2016-06-16 18:49] AntonioMeireles commented on #79
@dmcnaught fwiw the issue isn't VM's `/etc/resolv.conf`being populated with `nameserver 192.168.64.1` (where `192.168.64.1` is the address of vmnet's interface), that's macOS' default behaviour. The particular issue in your specific env is that somehow albeit traffic was getting to the outter world from inside the VM the mac wasn 't fwarding back to the vm the DNS queries it was receiving from it,

[2016-06-16 18:51] dmcnaught commented on #79
Ok, right - and that workaround doesn't really seem to persist while using kube-solo in a single session.

[2016-06-20 21:18] the-destro opened #80 "Unable to view containers outside of host"

[2016-06-21 07:29] rimusz commented on #80
@the-destro can you elaborate your problem?

[2016-06-21 20:35] ayberk commented on #21
Can confirm the issue still does exist (macOS 10.11.15) and using "beta" was the fix.

[2016-06-22 22:29] vichargrave commented on #21
I'm trying to use v0.6.6 on Mac OS 10.11.15, but it is still hanging at the Kubernetes startup cluster step.

[2016-06-23 17:35] huggsboson opened #81 "/etc/exports blocks install"
I used docker-machine-nfs which left the following entries in my /etc/exports:
$ cat /etc/exports

/Users 192.168.99.100 -alldirs -mapall=563785388:1221986466
/Users 192.168.99.106 -alldirs -mapall=563785388:1221986466
/Users 192.168.99.101 -alldirs -mapall=563785388:1221986466

Note the blank line.  I was consistently getting an error from corectl about not being able to parse /etc/exports ([]).

[2016-06-23 17:36] huggsboson commented on #81
Note: I worked around by removing all lines from /etc/exports

[2016-06-26 12:42] rimusz commented on #81
@huggsboson we are going to make NFS as an optional very soon, that should make easier to use `corectl` based apps then
https://github.com/TheNewNormal/coreos-osx/issues/76

[2016-06-26 15:02] rimusz commented on #21
I will introduce in the next version of the App more checks and more detailed error messages to know what the problem is.

[2016-06-29 20:40] clubanderson commented on #21
try to restart nfs

sudo nfsd restart

[2016-06-29 20:54] chrislovecnm commented on #21
@rimusz it would be good to have a check that `nfsd` is functioning correctly.

[2016-06-30 14:13] rimusz commented on #21
@chrislovecnm already tried to introduce `nfsd restart` and `nfsd update` without a luck :(
we hope with Antonio to have new version of `corectl` soon, which will have optional `nfs` as in most cases it is not needed on kube apps

[2016-06-30 15:34] the-destro commented on #80
Sorry @rimusz I was out of town. The issue is that if I have, say, a webserver running on the host and I want to view pages from the server from a different machine I am unable to. A key use case being viewing a responsive design using a phone.

[2016-06-30 15:38] rimusz commented on #80
try to use nip.io e.g. 192.168.64.2.nip.io on your phone

[2016-06-30 17:03] the-destro commented on #80
hmmm, might not be able to due to corp rules. I was wondering if there would be a way to use the docker for mac vpnkit to allow that bridging.

[2016-06-30 17:06] rimusz commented on #80
ping @AntonioMeireles

[2016-07-04 07:46] rimusz commented on #79
Internet check is in place in the lasted App version, the error message will pop up if internet is not accessible.
I'm closing this one, as this issue is not really related to the App

[2016-07-04 07:46] #79 closed, assigned to nobody

[2016-07-04 07:47] rimusz commented on #76
@theganyo can you confirm that this problem is still in the latest App version for you. thanks
open the issue if the problem persist.

[2016-07-04 08:20] #81 closed, assigned to nobody

[2016-07-04 08:43] rimusz commented on #81
dupe of #30

[2016-07-08 20:29] rimusz commented on #55
@chrislovecnm NFS is disabled, too many issues with it

[2016-07-08 20:29] #55 closed, assigned to nobody

[2016-07-08 20:29] rimusz commented on #30
@piepkrak NFS is disabled, so should not be the issue anymore

[2016-07-08 20:29] #30 closed, assigned to nobody

[2016-07-08 20:30] whitlockjc opened #95 "[docs] Enabling authn/authz"
What would your suggestion be for enabling authn/authz when using kube-solo?  I can think of a few ways that might work but before doing extra work or doing it in an unsuggested way, I figured I would ask.  There are really two topics here:
1. Taking an existing kube-solo VM and altering it so that the apiserver's startup has the appropriate flags
2. Possibly making it so that kube-solo itself can

[2016-07-08 20:31] rimusz commented on #37
the latest version v0.8.0 should fix all these problems

[2016-07-08 20:31] #37 closed, assigned to nobody

[2016-07-08 20:32] rimusz commented on #21
the latest v0.8.0 should fix all these problems

[2016-07-08 20:32] #21 closed, assigned to nobody

[2016-07-08 20:33] #76 closed, assigned to nobody

[2016-07-08 20:43] rimusz commented on #73
@mboersma please try the latest v0.8.0 it is based on the latest corectl v0.7.x with a separate server daemon and client.

[2016-07-08 20:44] rimusz opened #96 "add an option to update k8s-dashboard and SkyDNs add-ons"

[2016-07-09 06:52] rimusz commented on #95
currently k8s starts via fleet units which allows easily make changes redeploy the changed unit.
we can try option 1).
never used authn/authz  before, can you provide the kube master settings needed for the change, so i will look how to implement it
thanks

[2016-07-09 06:59] rimusz opened #97 "add an option to check for the upgrade via menu and on App's start"

[2016-07-09 17:37] whitlockjc commented on #95
Here are the pertinent links to the Kubernetes docs _(this isn't an RTFM but since they've got documentation, it seemed simpler)_:
- Authentication: http://kubernetes.io/docs/admin/authentication/
- Authorization: http://kubernetes.io/docs/admin/authorization/

The problem I'm trying to solve first is I want to provide the necessary `--oidc-*` options to the apiserver upon startup so that I can en

[2016-07-09 18:08] rimusz opened #98 "function check_internet_from_vm points to 'corectl'"
`corectl`it needs to be hardcoded as `/usr/local/sbin/corectl`

[2016-07-11 12:44] cobrowserAlex opened #99 "v0.8.0 kube-ui not started"
I did a fresh install of 0.8.0 and found that kube-ui is not started:

[code]

[2016-07-11 12:46] rimusz commented on #99
@cobrowserAlex kube-ui was replaced by kubernetes-dashboard a while ago already

[2016-07-11 12:58] cobrowserAlex opened #100 "v.0.8.0 /Users not mounted inside VM"
/Users directory is not mounted anymore in v0.8.0

[2016-07-11 13:00] #99 closed, assigned to nobody

[2016-07-11 13:01] rimusz commented on #100
yes, that's is correct, we had way too many problems with NFS.
I'm going to make it optional in the next release.

[2016-07-11 13:43] cobrowserAlex commented on #100
ok that's what that comment in the release notes meant. thanks.

[2016-07-11 13:44] cobrowserAlex commented on #99
Sorry, I meant kube-dashboard. So I guess it's loaded, just shows an error after a fresh install.
![kubernetes dashboard](https://cloud.githubusercontent.com/assets/10495775/16732623/663eeab8-477e-11e6-885d-e7e915a67f1b.png)

[2016-07-11 15:27] cobrowserAlex commented on #100
@rimusz I was going to use this setup for local development, thus sharing code with k8s while developing, but with NFS not available that will prove a bit more tricky.

Any idea how I could ssh into the VM? then I could use an rsync onchange with -e "ssh core@...."

[2016-07-11 15:30] rimusz commented on #100
here we go:

[code]

[2016-07-11 15:30] rimusz commented on #100
the VM's name is `k8solo-01`

[2016-07-11 16:13] cobrowserAlex commented on #100
@rimusz thanks.
ssh works like a charm, but rsync not yet:

[code]

[2016-07-11 16:18] cobrowserAlex commented on #100
ooh, probably something along the lines of `docker ...` like in the upload_docker_images.command

[2016-07-11 16:23] AntonioMeireles commented on #100
@cobrowserAlex try this...

[code]

_should_ work ...

[2016-07-11 16:36] cobrowserAlex commented on #100
@AntonioMeireles thanks, almost:

[code]

Congrats by the way on winning the EU football Cup ;-)

[2016-07-11 16:42] AntonioMeireles commented on #100
a) THANK YOU!
b) try plz

[code]

[2016-07-11 17:59] rimusz commented on #100
@cobrowserAlex here we go
![NFS option](https://cloud.githubusercontent.com/assets/5215395/16741037/7b72e82e-4799-11e6-8ca5-ed6e2b4e71db.png)

[2016-07-11 18:24] cobrowserAlex commented on #100
hahaha, Sorry @rimusz i didn't want to put any pressure on you. But Thanks!

[2016-07-11 18:26] rimusz commented on #100
@cobrowserAlex I just ported the code from coreos-vm app :)
It was in my plans anyway
So I think we can close this one

[2016-07-11 18:26] #100 closed, assigned to nobody

[2016-07-12 13:19] rimusz commented on #98
fixed

[2016-07-12 13:19] #98 closed, assigned to nobody

[2016-07-12 13:19] rimusz commented on #97
implemented in v0.8.3

[2016-07-12 13:19] #97 closed, assigned to nobody

[2016-07-12 13:21] rimusz commented on #96
too much hassle to implement as testing needs to be done for add-ons

[2016-07-12 13:21] #96 closed, assigned to nobody

[2016-07-13 13:53] kloudtaxi opened #110 "Deis Workflow deis-builder component fails to start"
deis-builder fails to spin up in v0.8.3 with the following message.

2016-07-13T02:32:39.709661147Z 2016/07/13 02:32:39 Error getting storage parameters (read /var/run/secrets/deis/objectstore/creds/..7987_12_07_19_53_36.730762557: is a directory)

desi-builder version info.
quay.io/deis/builder:v2.1.0

[2016-07-13 14:17] rimusz commented on #110
known issue it should be fix in the new Deis Workflow v2.2 release https://github.com/deis/builder/pull/382

[2016-07-13 17:51] kloudtaxi commented on #110
thanks for the info. will keep an eye out for it.

[2016-07-13 17:53] rimusz commented on #110
let's keep it open, so other users can notice the issue

[2016-07-13 18:16] kloudtaxi opened #113 "Installation error installing v0.8.3 - /usr/local/sbin... does not exist"
function check_corectld_server() in functions.sh tries to execute the following...
CHECK_SERVER_STATUS=$(/usr/local/sbin/corectld status 2>&1 | grep "Uptime:")

which returns an error as /usr/local/sbin does not exist. manually creating 'sbin' directory under /usr/local solves the issue.

[2016-07-13 19:09] rimusz commented on #113
@kloudstudio can you explain your steps how got the error in more details, so I can reproduce the problem?
thanks

[2016-07-14 10:17] rimusz commented on #113
@kloudstudio ok, I see that, thanks
By intention `corectl` files are put to `/usr/local/sbin` so that does not interfere  with `corectl` files installed in other folders.
btw kube apps should only be used with `corectl.app` allow users (not hacky ones) to simplify Apps use.

If you want to use in your way, that's fine too, but I do not see this as the issue, so closing this one.

[2016-07-14 10:17] #113 closed, assigned to nobody

[2016-07-14 15:57] mboersma commented on #73
I haven't seen this happen with the new separate corectl. I'll keep an eye out. Thanks @rimusz!

[2016-07-14 15:57] #73 closed, assigned to nobody

[2016-07-14 15:59] rimusz commented on #73
awesome

[2016-07-15 12:11] kloudtaxi commented on #113
@rimusz apologies for the delayed response.

I think I understand the issue now; I agree with you on putting files in `/usr/local/sbin` my point was on OS X `.../local/sbin` was not created after installing `corectl.app`. I had to create it manually. once I did that kube-solo app worked as expected.

retrospectively I should have opened a bug in `corectl.app` repo.

[2016-07-15 12:21] rimusz commented on #113
@kloudstudio I think I know what happened `corectl.app`
At the start it check that is the first install and opened a new terminal window to save your `sudo` and continued to start all processes but as the `sudo` password was not available yet, so `corectl` files had no chance to be copied to inexistent folder.

Working on that corner case.

[2016-07-20 22:43] whitlockjc commented on #95
@rimusz If I've got kube-solo already running, how should I go about changing the fleet unit and getting it deployed?  I've not used fleet directly so I'm not even sure how to start.  I'm hoping I can use a kube-solo distribution and that I don't have to build/run a custom one.  If that is the case, do you mind pointing me in the right direction on getting started?

[2016-07-20 22:44] whitlockjc commented on #95
I just realized kube-solo ships with a fleet UI so I will start there.

[2016-07-21 08:53] rimusz commented on #95
@whitlockjc fleet might be gone from the next version, just do the systemd unit and add it to cloud-init file

[2016-07-22 11:53] rimusz commented on #110
the new Deis Workflow v2.2.0 works fine now, so closing the issue

[2016-07-22 11:53] #110 closed, assigned to nobody

[2016-07-22 12:56] rimusz commented on #80
@AntonioMeireles any ideas on this one?

[2016-07-22 15:37] whitlockjc commented on #95
So as things stand now, I could update `~/kube-solo/fleet/kube-apiserver.service` and restart the VM to alter how the k8s apiserver is started.  But if fleet goes away, I'd instead update `~/kube-solo/cloud-init/user-data` to do this by creating a systemd unit.  Is this correct?  I'm just trying to make sure I understand things correctly.

[2016-07-22 15:40] rimusz commented on #95
@whitlockjc the latest version v0.8.7 has no fleet anymore, so update user-data file

[2016-07-22 21:23] whitlockjc commented on #95
I've had trouble updating to `v0.8.7` for now so until that is fixed, what is the appropriate flow to doing this?  I've tried altering `~/kube-solo/fleet/kube-apiserver.service` and bouncing the VM but it doesn't seem to pick those changes up.  I've tried the reload/update fleet unit menubar item and it just overwrites my changes.  What is the suggested approach to do this with fleet since it's th

[2016-07-23 06:04] rimusz commented on #95
@whitlockjc update the kube-apiserver.service in fleet folder, then it that folder run ' fleetctl destroy kube-apiserver.service && fleetctl start kube-apiserver.serrvice' and the kube-apiserver will redeployed

[2016-07-23 17:17] rimusz commented on #95
@whitlockjc `corectl.app` v0.2.1 works on macOS 10.10, so you can use it with the latest `kube-solo` v0.8.7. So update the `cloud-init` there to check `authn/authz`

[2016-07-25 15:23] whitlockjc commented on #95
Thanks a lot @rimusz.  I did finally figure out the `fleetctl` process to get this working.  Now that I'm switching to the `cloud-init` approach, how do I follow the same flow to update the apiserver and redeploy it after changes?

[2016-07-25 15:25] rimusz commented on #95
no worries @whitlockjc
just edit the `kube-solo/cloud-init/user-data` file and then `halt` and `up`, that's it.
Can `authn/authz` stuff be enabled all the time and not used?

[2016-07-25 15:28] whitlockjc commented on #95
I think it's possible to keep it enabled all the time but it would likely not make sense.  I wanted to test the OIDC support for authentication and now that I've done that, I want to switch back to the default kube-solo approach using a certificate.  I do think that if you want a simple kube-solo, you don't want extra authn/authz.  But if you find the need to test or use authn/authz, knowing how t

[2016-07-25 15:32] rimusz commented on #95
ok, then just drop your updated `user-data` file and instructions how to use to me by email, so if there are such needs I have it. :)
thanks

[2016-07-25 15:34] whitlockjc commented on #95
You got it.  I'll go through the process to make sure the `halt`, `up` process _just works_ and then we could easily document this as a **So You Need a Custom API Server** section or something.  ;)

[2016-07-25 15:35] rimusz commented on #95
awesome, thanks

[2016-07-26 01:26] RaeesBhatti opened #116 "Allow using CLI version of corectl"
Kube-Solo-OSX requires you to install the `.app` version of `corectl` which is [not really necessary](https://github.com/TheNewNormal/corectl/blob/10bc03f862e37237d27c5510ee277ad04215c5d7/README.md#via-homebrews). And the `brew install corectl` version does not work as a result.
We can do `which corectl` and `which corectld` and use those path to start daemon and execute commands.

[2016-07-26 01:27] RaeesBhatti commented on #116
It will actually be easier to upgrade too, one could do a `brew upgrade corectl` rather than visiting the releases page and downloading and installing manually.

[2016-07-26 05:24] RaeesBhatti commented on #116
Ref: #117

[2016-07-26 07:39] rimusz commented on #116
The `corectl.app` was made intentionally to avoid `brew install corectl` stuff. As there are three Apps depending on `corectld` having a dedicated `corectl.app` makes more sense.
Plus we do not want people to force and install `brew` as not everybody is using it.
Also `corectl.app` has the option via menu `Check for corectld updates` which downloads the latest version of `corectl` tools so you do

[2016-07-26 07:42] #116 closed, assigned to nobody

[2016-08-06 03:15] railgadi opened #121 "What changes are required to run it behind cntlm running on Mac OSX 10.11"
I am trying to run kube-solo-osx and cluster behind cntlm. How and where do I set the proxy details?

[2016-08-06 07:38] rimusz commented on #121
this is more question to @AntonioMeireles who is the wizard behind corectl tool used for the apps virtualisation

[2016-08-06 18:40] railgadi commented on #121
Similar issue is reported at https://github.com/TheNewNormal/corectl/issues/88
Is there a forum where I can post my questions related to these tools?

[2016-08-06 18:44] AntonioMeireles commented on #121
This is the right place. I am mostly offline this weekend but will look
into this Monday.

Thank you for reporting and have a great weekend

António

On Saturday, 6 August 2016, Raigadi notifications@github.com wrote:

[2016-08-08 01:02] railgadi commented on #121
Thank you Antonio !

[2016-08-10 23:05] whitlockjc opened #123 "[question] Mounting local directories to VM"
While working on enabling authn, I want to run [dex](https://github.com/coreos/dex) within the VM.  To allow me to work on a dev build, I wanted to mount some host directory within the VM so I could run dex via a Service Unit by altering `~/kube-solo/cloud-init/user-data`.  Can you tell me how to do this?

I'm currently looking at the sources so I might end up figuring it out myself.  I've tried a

[2016-08-11 09:37] rimusz commented on #123
just use `nfs` volume `/Users/my_user:/Users/my_user`

[2016-08-11 16:20] whitlockjc commented on #123
That will work just fine, I forgot you were mounting this.  Thanks a lot.

[2016-08-11 16:31] whitlockjc commented on #123
I'm not sure this is working and it could be my own issue.  Whenever my service tries to start, I get this: `/Users/notyou/workspaces/go/src/github.com/coreos/dex/bin/dex-worker: No such file or directory`  I'm not saying there is a kube-solo issue but I'm not having luck.  Here is my modification to `~/kube-solo/cloud-init/user-data`:

[code]

Of course, I also updated `apiserver.service` to depe

[2016-08-11 16:57] whitlockjc opened #124 "Latest release cannot start VM"
I just updated to the latest kube-solo and when attempting to bring up the VM, I get this:

[code]

I've updated to the latest corectl as well but nothing works.

[2016-08-11 17:02] rimusz commented on #124
hmm, this is something todo with `corectl.app`, as it copies it's files to `~/bin` folder.
kube-solo app does not have those files by itself anymore

[2016-08-11 17:03] whitlockjc commented on #124
I think my corectl.app was borked.  I updated it too and when it started, it never prompted me for my password so I assume it just wasn't running.

[2016-08-11 17:03] #124 closed, assigned to nobody

[2016-08-11 17:04] rimusz commented on #124
phew

[2016-08-11 17:06] whitlockjc commented on #124
It was weird because starting the newly updated `corectl.app` didn't prompt an error but once I saw that its status wasn't `Server is running`, I got the idea that maybe it was borked.  Force quit and restart seems to have fixed it.

[2016-08-11 17:09] whitlockjc commented on #123
I think I ran into some environmental issue that caused `corectl.app` to bust and `kube-solo.app` to bust as well.  Blowing them both away, reinstalling the latest versions and now `/Users/notyou` is mounted as expected.  No idea what Gremlins were in my machine but it _appears_ to be fixed.

[2016-08-11 17:09] #123 closed, assigned to nobody

[2016-08-11 17:11] rimusz commented on #123
those f..k Gremlins are always the problem :)

[2016-08-17 18:03] whitlockjc opened #127 "Make viewing new releases optional"
I love that when I startup kube-solo that I'm alerted that there is a new version but is there any way to click `Cancel` or something so that it does not open a new browser window?  It's very disruptive.

[2016-08-18 12:08] rrva opened #128 "external-ip stuck in pending state"
More of a general kubernetes question, is something additional needed for the wordpress service in this tutorial: https://github.com/kubernetes/kubernetes/tree/master/examples/mysql-wordpress-pd/ to automatically have an external ip assigned? external-ip stays forever in `<pending>` status. According to the tutorial it should get an external ip assigned.

I can however access the service through 1

[2016-08-18 18:13] rimusz commented on #128
loadbalancer/external IP is cloud provider feature, it will only work with GCP, AWS and Azure.

[2016-08-18 22:27] rrva commented on #128
Ok, I guess closing this one. It's unfortunate that some things are not available in the same way locally.

[2016-08-18 22:27] #128 closed, assigned to nobody

[2016-08-19 08:27] rimusz commented on #128
it is nothing to do with the Kubernetes or this VM :)

[2016-08-19 08:28] rimusz commented on #127
sure, have that in my plans already, will do it next week

[2016-09-06 21:34] McCodeman commented on #95
@whitlockjc I'm also interested in enabling RBAC.  Have you posted your procedure anywhere?  I specifically have a need for some pods to be able to interact with the K8s API (currently they are getting denied).  After enabling RBAC, my thought was to create a service account with the appropriate roles bound to it that given them access to query the API.  Thanks for your input.  -- One additional t

[2016-09-06 22:59] whitlockjc commented on #95
Enabling authn/authz is the same.  You update your `~/kube-solo/cloud-init/user-data` to provide the necessary enablement flags to the `kube-apiserver.service`.  Have you tried this?

[2016-09-12 12:11] rimusz commented on #127
v0.9.3 got the `cancel` option

[2016-09-12 12:11] #127 closed, assigned to nobody

[2016-09-16 11:12] AntonioMeireles commented on #121
@railgadi can you ping me in kubernetes' slack (same id there as here) ?

[2016-09-24 19:39] quinncomendant opened #133 "Possible to run k8s on the command line instead of using the app?"
Is it possible to run Kubernetes on `corectl` via kube-solo entirely via the command line, instead of using the app? I have been using `corectl` directly instead of using the coreos-osx app. I prefer the transparency of knowing what's going on, to learn the sysadmin aspect that will translate to managing Kubernetes on real servers. Is kube-solo-osx good for learning the commands for running Kubern

[2016-09-24 22:21] rimusz commented on #133
yes, after app install you can use cli to control VM, as per readme:
After successful install you can control kube-solo VM via ksolo cli as well. Cli resides in ~/kube-solo/bin and ~/bin foldersand has simple commands: ksolo start|stop|status|ip|ssh, just add ~/bin to your pre-set path.

[2016-09-24 23:14] rimusz commented on #133
we usually hang out at kubernetes slack

[2016-09-25 05:57] quinncomendant opened #134 "Update homebrew formula"
Current homebrew formula installs 0.9.1. Is updating this recipe to use the new version the responsibility of someone on your team?

Also, I wonder why it doesn't auto-include new releases despite using an appcast feed (`appcast 'https://github.com/TheNewNormal/kube-solo-osx/releases.atom'`). Probably I don't know how appcast works.

[2016-09-25 13:15] rimusz commented on #134
sorry it is not me who does homebrew formula or nether anybody from our team. must be some other person does it time by time. so i'm closing this one

[2016-09-25 13:15] #134 closed, assigned to nobody

[2016-09-25 13:16] rimusz commented on #133
we can close this one, as it answered your question :)

[2016-09-25 13:16] #133 closed, assigned to nobody

[2016-09-25 13:33] intellix opened #135 "iTerm requirement"
Noticed that Kube up opened up iTerm. Installed Kube and then removed iTerm, hoping my next stuff would just use the native OSX Terminal. Opening shell etc stopped working, so I tried to restart and then ended up having to delete ~/kube-solo. This was when I noticed that iTerm is being installed by Kube Solo.

Is there any reason why Kube Solo depends on iTerm and installs it? There's no mention i

[2016-09-25 14:26] rimusz commented on #135
I used to have the iTerm as a requirement, but guys always forgot to install it and always there an issue opened that app does not work, so I included it with the app, so no needs to install by yourself. Most of user and myself found iTerm more user friendly comparing to Terminal.
Sure I will update docs that iTerm is needed, if not found it will be installed for you.
PR is welcome to support both

[2016-09-26 15:51] rimusz commented on #135
readme updated

[2016-09-26 15:51] #135 closed, assigned to nobody

[2016-10-03 06:19] rbellamy opened #137 "install_deis fails"
Running the most recent release 0.9.6, and trying to install deis via `install_deis`, I get an error. I updated the script with `set -x`[1].

The error occurs during the in-place sed replacement of the `deis-minio-rc.yml`

[code]

I'm not sure that file is being generated from the template - if I stick with the vanilla version of the deis charts, and run `helmc generate -x manifests workflow-v2.6.

[2016-10-03 07:40] rimusz commented on #137
ups, forgot that all rcs were moved to deployments.
I will update the install script with that

[2016-10-03 07:40] rimusz opened #138 "move deis workflow minio to deployments"

[2016-10-03 13:40] cobrowserAlex opened #139 "VPN routing broken"
I am unable to route traffic from the VM over my openVPN connection like it was possible in the past: https://github.com/TheNewNormal/kube-cluster-osx/issues/33

After not needing the project for a while I updated to the latest version and since them I am unable to route traffic as suggested in the kube-cluster issue.

[code]

I am running the script below after I connect to the VPN (private repos

[2016-10-03 13:49] rimusz commented on #139
@AntonioMeireles ^^^

[2016-10-03 14:03] AntonioMeireles commented on #139
@cobrowserAlex

long story short... at runtime corectld manipulates pf rules so that dns behaves bidirectionally (host to/from VMs)

that is achieved by running the embedded dns server (basically skydns) on port 15353 and then inserting in the pf chain a matching rule ...

[code]

the other half is achieved by a macOS droppin in `/etc/resolver/corectld` along

[code]

So, can you paste ouput of `s

[2016-10-03 14:18] cobrowserAlex commented on #139
I did this with VPN -> ON

[code]

[code]

[code]

[code]

[2016-10-03 14:47] AntonioMeireles commented on #139
@cobrowserAlex i don't see your rules above ... did you run (when _capturing_ above)

[code]

?

[2016-10-03 14:55] cobrowserAlex commented on #139
yes, I did:

[code]

maybe I have a syntax error in my part ?

[2016-10-03 15:07] AntonioMeireles commented on #139
interesting. will try to reproduce in next 24hrs.

[2016-10-04 07:51] cobrowserAlex commented on #139
great!

[2016-10-05 04:16] seanknox opened #140 "install hangs on '~/kube-solo/bin/kubectl get nodes'"
Fresh install of 0.9.6 on macOS Sierra hangs at the  `~/kube-solo/bin/kubectl get nodes` step:

[code]

In another shell:

[code]

[2016-10-05 08:02] rimusz commented on #140
hey @seanknox this problem has nothing to do with `kube-solo` or `kube-cluster` apps, the problem is with `kubectl` which is compiled with go v1.6.x, on Sierra go binaries compiled with that go version spit those errors. Only go binaries compiled with go v1.7.x work fine there.
https://medium.com/@gerred/kubectl-1-3-7-for-macos-sierra-ee2c483e283d#.2x4fuh2sj

[2016-10-05 13:02] cobrowserAlex commented on #139
@AntonioMeireles were you able to find time to check this out?

[2016-10-05 15:17] seanknox commented on #140
hey @rimusz! thanks for pointing me to that. Should I be compiling `kubectl` using go v1.7.x and then dropping it into `~/kube-solo/bin`? And if so, should I do the same with https://github.com/TheNewNormal/kube-cluster-osx?

[2016-10-05 15:38] rimusz commented on #140
@seanknox yes, that should solve the `kubectl` problem till we get k8s binaries built with go v1.7.
I was not able to compile `kubectl` with go v1.7, as always so many go dependencies there, not really go expert.

[2016-10-05 15:39] rimusz commented on #140
also I need to update `deis_install` there (minio), to support latest workflow move from rc to deployments

[2016-10-05 15:42] seanknox commented on #140
Sweet, I did just that and all is working now. For posterity the process was:
1. Remove all versions of `go` via homebrew
2. Install go `v1.7.1` via homebrew
3. Compile `kubectl` according to https://medium.com/@gerred/kubectl-1-3-7-for-macos-sierra-ee2c483e283d#.l9sop4jje
4. Stop kube-solo and `rm -rf ~/kube-solo` to prepare for a fresh install
5. Start kube-solo and start the initial setup
6. At

[2016-10-05 15:42] #140 closed, assigned to nobody

[2016-10-07 23:41] rbellamy commented on #139
@AntonioMeireles I'm also anxiously awaiting word back from you about this...

[2016-10-11 07:32] sputnick opened #141 "Configure Master and Worker Nodes to resolve DNS using kube-dns service first then host"
I was testing Pod based NFS for Persistent Volumes and ran into an issue on Kube-Solo (and likely Kube-Cluster has the same). In version 0.9.6 you can successfully create a PersistentVolume that points to an NFS server via its cluster dns service name e.g. "nfs-server.default.svc.cluster.local". You can then also create a PersistentVolumeClaim. However when you create a new Pod/RC that uses that C

[2016-10-11 09:37] rimusz commented on #141
@AntonioMeireles is it possible to add `kube-dns Service IP address` to `/etc/resolve.conf`?
What I mean is it possible to add it via `cloud config`?

[2016-10-11 09:43] AntonioMeireles commented on #141
@sputnick thanks for reporting!. going to look.

[2016-10-13 17:29] the-destro commented on #80
Anything new on this or anything I can do to help?

[2016-10-13 17:38] rimusz commented on #80
I'm not really a man in this case, @AntonioMeireles is, but was too busy recently to look to it.
in TheNewNormal org all projects are our side/free time projects and we do not get much community help there, so sometimes it is hard to keep up.

[2016-10-17 08:22] mkarliner opened #142 "Install fails with missing file k8solo-01.toml"
Attempting to UP the VM for the first time I get.

/Applications/Kube-Solo.app/Contents/Resources/up.command; exit;
cat: /Users/mike/kube-solo/settings/k8solo-01.toml: No such file or directory
/Applications/Kube-Solo.app/Contents/Resources/functions.sh: line 18: /Users/mike/kube-solo/settings/k8solo-01.toml: No such file or directory

Starting k8solo-01 VM ...

Data disk does not exist, it will b

[2016-10-17 08:41] rimusz commented on #142
interesting issue, why the `k8solo-01.toml` is not there, need to add a check for that file, if not found, copy it from app's bundle.

Can you try to delete `/Users/mike/kube-solo` folder and try again, please. thanks

[2016-10-17 08:50] mkarliner commented on #142
I did delete and try again, the log was from the second attempt. I should also mention that the settings sub-directory is not being created either.

[2016-10-17 08:54] rimusz commented on #142
interesting, as there is a shell [command](https://github.com/TheNewNormal/kube-solo-osx/blob/master/src/kube-solo-install.command#L12) to create that folder.
are you using bash, zsh, or other shell?

[2016-10-17 08:56] mkarliner commented on #142
I'm using bash.
I should also mention I'm using docker for Mac beta.

After creating settings and copying k8solo over, my next attempt gave

Starting VM ...

[WARN] unable to run "defaults read /Library/Preferences/SystemConfiguration/com.apple.vmnet.plist" Shared_Net_Address ...
[WARN] ... assuming macOS default value (192.168.64.1)
[WARN] unable to run "defaults read /Library/Preferences/SystemC

[2016-10-17 09:01] rimusz commented on #142
docker for Mac does not make any difference for kube-solo app,
as [corectl](https://github.com/TheNewNormal/corectl]) tool is based on Docker HypertKit too.
Booth are using the same native macOS Hypervisor.

It looks like something really weird is going on on your mac.

Usually I try the reboot and see what happens

[2016-10-17 15:05] jgsqware opened #143 "Error when trying to install Helm"
Hello, I'm trying to install Kube-Solo and it can't install Helm

Here is the logs:

[code]

I've tried a fresh install by removing kube-solo folder but not working.

[2016-10-17 15:09] rimusz commented on #143
sorry, have not updated helm install part yet, as it got changed again in upstream :)

[2016-10-18 09:34] rimusz commented on #137
fixed in https://github.com/TheNewNormal/kube-solo-osx/releases/tag/v0.9.7

[2016-10-18 09:34] #137 closed, assigned to nobody

[2016-10-18 09:34] rimusz commented on #138
fixed in https://github.com/TheNewNormal/kube-solo-osx/releases/tag/v0.9.7

[2016-10-18 09:34] #138 closed, assigned to nobody

[2016-10-18 09:35] rimusz commented on #143
fixed in https://github.com/TheNewNormal/kube-solo-osx/releases/tag/v0.9.7

[2016-10-18 10:25] jgsqware commented on #143
cool thanks

On Tue, Oct 18, 2016, 11:35 Rimas Mocevicius notifications@github.com
wrote:

[2016-10-19 15:01] mkarliner commented on #142
Rebooted, re-initialised. This time it hangs on 'waiting for Kubernetes cluster to be ready' This can take a bit.

After an hour I gave up.

[2016-10-19 15:05] rimusz commented on #142
still strange that happens for you only, will try to recheck the k8s initial install part, which was solid for months

[2016-10-19 15:44] mkarliner commented on #142
I've now done an upgrade to 10.11.6 and I can start k8solo.
It's worth mentioning that corectl still doesn't start correctly on boot,
it asks for a password and then cannot start the server. If I try to start
again, it then works.

[2016-10-19 15:46] rimusz commented on #142
phew, cool. yes I see that for `corectl` too, @AntonioMeireles is aware of it (he is `corectl` maintainer)

[2016-10-21 20:16] viglesiasce opened #145 "Look at implementing static routes for service and cluster IPs"
Currently you are limited to only accessing NodePort services. If kube-solo implemented static routing rules at the OSX layer for both the service IP range and pod IP range this would no longer be the case. As an extension to that you could also implement DNS redirects for cluster.local domains that allowed users to resolve those from the kube-dns pod.

[2016-10-24 10:33] rimusz commented on #142
@mkarliner the kube-solo should not hang on `waiting for Kubernetes cluster to be ready` , fixed it in #146

[2016-10-24 10:34] rimusz commented on #142
also looking to `that corectl still doesn't start correctly on boot` https://github.com/TheNewNormal/corectl.app/issues/39

[2016-10-24 10:40] rimusz commented on #145
added @viglesiasce comments from k8s helm channel:

[code]

[2016-10-24 10:40] rimusz commented on #145
@AntonioMeireles ^^^

[2016-10-24 16:53] rimusz commented on #145
we are already looking to it. this one is blocked by getting host networking vodooo more resilient (all working when vpn tunnels in use). ideal solution would be to consume docker’s vpnkit - mess is that it isn’t clear that it would be multiVM out of the box (as we are a bit more evolved than them)

[2016-10-28 17:01] the-destro commented on #80
I think I have an idea to use socat, but it might be a little ugly. I'll give it a shot and let you know

[2016-10-28 17:02] rimusz commented on #80
ah, nice, keep me posted how it goes

[2016-10-28 23:10] olalonde opened #147 "Not working if iTerm2 sends text at start"
<img width="649" alt="screenshot 2016-10-28 16 08 36" src="https://cloud.githubusercontent.com/assets/416585/19824959/d5502098-9d28-11e6-9735-7dc1e4145238.png">

![mcfsk7uiwa](https://cloud.githubusercontent.com/assets/416585/19824967/e4830bde-9d28-11e6-8553-dc0c7f9f8640.gif)

Is there any way to get Kube-Solo to use the window started by tmux and/or be able to configure a non default iTerm2 profi

[2016-10-29 09:34] olalonde commented on #143
After running the up command I got an error related to helm (`/Users/olalonde/kube-solo/bin/helm: No such file or directory`):

[code]

[code]

[2016-10-30 19:18] rimusz commented on #147
The default `Terminal` would be easier to be used instead of `tmux`
The required terminal app could be stored in some settings file and used opening shell scripts

[2016-10-30 19:37] rimusz commented on #143
@olalonde I can you explain the steps you did there, so I can try to reproduce it, thanks

[2016-10-30 21:44] olalonde commented on #147
Indeed. Trying to make it work with tmux seems like a bit of a PITA. Another option would be to see if a flag can be passed to `open -a iTerm.app "$1"/first-init.command` to tell iTerm to ignore the "send text at start" setting. That would probably be ideal. What do you think? (asked here https://gitlab.com/gnachman/iterm2/issues/5288)

[2016-10-30 21:51] olalonde commented on #147
Looks like another way would be to chose a profile called "kube-solo" if it exists and otherwise use the default profile: https://www.iterm2.com/documentation-scripting.html. That way, I could create a "kube-solo" profile which doesn't send text at start.

[2016-10-31 02:02] olalonde commented on #143
Tried again from scratch and couldn't reproduce!

[2016-11-01 19:43] harobed commented on #124
Same error here, I've reinstalled corectl.app but `~/bin/` is always empty.

[2016-11-03 19:05] olalonde commented on #147
Oh, looks like there will be a new option in iTerm to "disabled text at start when opening a script" https://gitlab.com/gnachman/iterm2/issues/5288. 👍

[2016-11-03 19:06] rimusz commented on #147
ok, cool

[2016-11-04 16:25] ishantanu opened #151 "“up.command” can’t be opened because it is from an unidentified developer."
I am unable to start the VM after the latest update of k8solo v0.9.9.
This was working till v0.9.8.

[2016-11-04 16:57] rimusz commented on #151
hmm, strange one, will make a new app dmg soon

[2016-11-04 17:11] rimusz commented on #151
@iamShantanu101 can you please download k8solo v0.9.9 again, I uploaded rebuilt version, thanks

[2016-11-04 18:00] ishantanu commented on #151
@rimusz Still same error.

[2016-11-06 21:41] rimusz commented on #151
can you provide some more detailed setup on your side

[2016-11-07 05:49] ishantanu commented on #151
@rimusz This was fixed when the I restarted the system. But the reason behind this is still unknown.

[2016-11-07 05:49] #151 closed, assigned to nobody

[2016-11-07 05:56] ishantanu opened #152 "type: "LoadBalancer" isn't working."
When I tried to assign an external IP using type: "LoadBalancer" to a service, it doesn't work.
The External IP never gets assigned to it.
Instead it keeps on displaying <pending> state.
I waited for a couple of hours but it still kept on showing the same state.

[2016-11-07 06:20] rimusz commented on #152
Loadbalancer is cloud provider feature, e.g.GCP, AWS, it will not work on any kube app or any vagrant based setup

[2016-11-07 06:20] #152 closed, assigned to nobody

[2016-11-07 06:21] ishantanu commented on #152
What about Nodeport?

[2016-11-07 06:22] rimusz commented on #152
yup

[2016-11-07 06:26] rimusz commented on #151
maybe so macos glitch

[2016-11-08 21:08] traceypooh opened #153 ".git is 1.8G..."
only 300 commits per git log -- but .git 1.8G .pack file on clone.
would you consider chopping down history a bunch?
(maybe it has many 10MB+ go binaries since removed?  i dunno!)

or for non-elite git users, suggest a good way to filter?

noncritical / nice2have..

thx!  :)

[2016-11-08 21:12] rimusz commented on #153
sure, was going to delete the old versions anyway

[2016-11-08 22:20] traceypooh commented on #153
oh, um, _wow_.  well, gee, _thanks_ very appreciated!

[2016-11-11 18:27] sputnick opened #154 "Restart brakes k8s dashboard and pod to api authentication?"
In v0.9.9 I'm having a strange issue. After first boot of kube-solo the k8s dashboard comes up fine. Then after a Halt and Up restart it no longer works (no endpoints "code": 503).

k8s dashboard pod logs say:

I'm testing Helm in a Pod so I remove the Tiller service and Tiller-Deploy after a fresh restart and start an RC with helm that will install Tiller again that matches its version. The very

[2016-11-11 18:55] sputnick commented on #154
This is easily reproducible. I deleted kube-solo folder and started over and created a new "cluster" and waited until the dashboard was up. Then Halted and Up and now the dashboard doesn't work. I didn't install anything in between.

[2016-11-11 19:11] rimusz commented on #154
thanks for reporting, yes I get the same problem with the Dashboard after VMs reboot.
Hmm nothing works in `kube-system` namespace.
Need to investigate it why.

[2016-11-11 19:14] sputnick commented on #154
Ok "good" that it also breaks for you. And just FYI if this info matters from kubectl version:

[2016-11-12 17:02] franz-josef-kaiser opened #155 "Notification Style"
Currently the Notifications used to indicate the _off_ state, say:

I do not really understand why _Kube Solo_ is in panic mode when I turn off the VM. Can we have this without three exclamation marks?

_– Terry Prachett_

[2016-11-12 17:09] rimusz commented on #155
it is not in panic mode, it is just encoded text :)

[2016-11-12 21:16] franz-josef-kaiser commented on #155
@rimusz Let's just [change this](https://github.com/TheNewNormal/kube-solo-osx/blob/78d930a3989aa156995065d1765a603f11fc345d/src/Kube-Solo/en.lproj/Localizable.strings) to a more relaxed voice. Does this sound like a plan? :)

[2016-11-12 22:34] ktamiola commented on #154
The same here. Could the issue be related to _etcd_ ?

[2016-11-12 22:37] ktamiola opened #156 "Missing disk.img"
I am still going through the logs on my mac, as I don't recall making any substantial changes. However, upon the VM re-initialization I got:
[code]

I have reinstalled *Corectl* (version 0.7.18) and repeated the process of VM installation. Still no go!

[2016-11-12 22:41] AntonioMeireles commented on #156
In the meantime run please brew install libev and that error will go
away... looking at how to statically link that lib to the blob...

Thanks for reporting and for your patience. A great weekend too!

On Sat, 12 Nov 2016 at 22:37, Kamil Tamiola notifications@github.com
wrote:

[2016-11-12 22:47] ktamiola commented on #156
Cheers @AntonioMeireles ! Happy weekend and thank you! I am back on the track. For others who might bum into that issue,

[code]

[2016-11-13 00:12] franz-josef-kaiser commented on #155
See #157 for a matching PR.

[2016-11-14 10:44] rimusz commented on #154
fixed in v1.0.0

[2016-11-14 10:44] #154 closed, assigned to nobody

[2016-11-14 10:44] #155 closed, assigned to nobody

[2016-11-14 10:50] #143 closed, assigned to nobody

[2016-11-16 01:46] rockycape commented on #156
Same issue here resolved successfully with

`brew install libev`

[2016-11-16 09:00] rimusz commented on #156
I will keep it open till we sort out `qcow-tool` dependencies in `corectl`

[2016-11-17 11:48] aterreno commented on #156
Resolved the same way - this problem appears also on kube-cluster.

A good solution would be somewhere in the scripts to probe if libev.4.dylib is installed or not...

[2016-11-17 11:49] rimusz commented on #156
we hope to handle that with `qcow-tool` soon

[2016-11-17 11:50] aterreno commented on #156
ok cool

[2016-11-18 02:04] sputnick opened #160 "Helm install stable/jenkins fails because of SecurityContext"
If you try to install Jenkins from stable/jenkins with Helm on Kube-Solo it fails to create its Pod with the error:
```Error creating: pods "" is forbidden: pod.Spec.SecurityContext.RunAsUser is forbidden```

It seems that support for SecurityContext is turned off? Saw this line kube-apiserver.service on the coreos vm.
```admission_control=NamespaceLifecycle,NamespaceAutoProvision,LimitRanger,Secu

[2016-11-18 09:25] rimusz commented on #160
could you try to delete `SecurityContextDeny`  https://github.com/TheNewNormal/kube-solo-osx/blob/master/src/cloud-init/user-data#L168 in `~/kube-solo/cloud-init/user-data` and check if that fixes for you. if it does I will cut a new app version.
thanks

[2016-11-19 00:25] jghoman commented on #156
I've run into this problem as well but use macports, which installs libev.4.dylib in /opt/local/lib instead of /usr/local/opt/libev.  I created the latter directory and symlinked the file into it, which worked.

[2016-11-21 01:08] vincent-dm opened #161 "[docs] explain difference with Minikube"
Hi,

I'm just getting started with K8s and want to share my perspective: I've stumbled upon this project but also found the Minikube project, which seems more popular.

Reading your homepage doesn't explain to me at all why I should use Kube-Solo instead of (the officially supported) Minikube. (I'm using OSX)

Adding one or two sentences about the pros (and cons?) would greatly aid newcomers to de

[2016-11-21 13:11] rimusz commented on #161
hey there, there are many different local k8s solutions. it is not up to me to tell users to use kube-solo app instead of minikube.

[2016-11-21 15:48] mikelnrd commented on #161
Hi I'm similar to the OP, looking to run k8s on my mac for local development and have found minikube and kube-solo/kube-cluster. I would have also liked something to explain how they compare to the officially supported minikube. Please (re)-consider adding this.

[2016-11-21 15:49] mikelnrd commented on #161
(PS... I assume I can install both, but perhaps a note to say this or to warn people against it if they can't both exist side-by-side)

[2016-11-21 15:59] vincent-dm commented on #161
@rimusz I understand that you don't want to do marketing to try to convince people to use kube-solo (I applaud that attitude). Nevertheless, I believe that a short, objective list of what differentiates kube-solo from minikube, and the pros/cons of using it would be useful.

[2016-11-22 01:48] sputnick commented on #160
Hey @rimusz I deleted SecurityContextDeny and restarted the cluster and now it works to install Jenkins :). Well as long as you disable persistent storage but that's another story...

Would be great to get this built into a new release.

cheers
Eiki

[2016-11-22 06:54] rimusz commented on #160
i'm off this week, will do it when i'm  back

[2016-11-30 09:09] #142 closed, assigned to nobody

[2016-11-30 09:50] rimusz commented on #160
fixed in https://github.com/TheNewNormal/kube-solo-osx/releases/tag/v1.0.1

[2016-11-30 09:50] #160 closed, assigned to nobody

[2016-12-05 19:25] ishantanu opened #164 "[ERROR] Unable to grab VM's IP after 30s (!)... Aborted"
This is what I am getting after updating to latest version :

/Applications/Kube-Solo.app/Contents/Resources/up.command; exit;
Last login: Tue Dec  6 00:43:54 on ttys001
λ ~/ /Applications/Kube-Solo.app/Contents/Resources/up.command; exit;

Starting VM ...

[ERROR] Unable to grab VM's IP after 30s (!)... Aborted

VM has not booted, please check '~/kube-solo/logs/vm_up.log' and report the problem !

[2016-12-05 19:52] rimusz commented on #164
it could be your network borked, VirtualBox loves to do that, just try to reboot your mac, thanks

[2016-12-08 19:13] jonmoter commented on #156
I'm getting the same error, and I have homebrew installing in a non-standard location. So even if I `brew install libev`, it doesn't create a file at `/usr/local/opt/libev/lib/libev.4.dylib`.

I can probably get around the problem with some symlinking, but +1 on getting this fixed.

[2016-12-26 13:45] rimusz commented on #161
added a short text about kube-solo and minikube difference

[2016-12-26 13:45] #161 closed, assigned to nobody

[2017-01-09 00:41] zatricion opened #167 "How can I stop and re-start the Docker service?"
I was trying to change Docker storage drivers and see if it fixed an issue I had with my application, but when I tried to stop the service with `sudo systemctl stop docker`, I couldn't start it again (`sudo systemctl start docker`). I tracked the issue to the `docker.socket` unit, but couldn't debug further. This issue on Docker looks really similar: https://github.com/docker/docker/issues/25098.

[2017-01-11 09:23] rimusz commented on #167
`sudo systemctl stop docker` and `sudo systemctl start docker` is the way, strange it did not work for you

[2017-01-11 18:21] zatricion commented on #167
I think this is the issue: https://github.com/docker/docker/blob/master/CHANGELOG.md#1123-2016-10-26

[2017-01-11 18:30] rimusz commented on #167
I do not see that as a big deal as usually I reboot VM for such needs.

[2017-03-14 17:02] icougil opened #169 "Openpgp invalid data"
Hi devs!
I'm trying to figure out why kube-solo is not working and I've found that after trying it seems that the HD was not created. I've tried to created and I've received an error about openpgp. Here you can see the details:
[code]

And here you can see the content of the logfile:
[code]

What can I do in order to start the VM and start working with kubernetes via kube-solo?

Best,

[2017-03-15 08:26] icougil commented on #169
Related with that, I've renamed the `~/kube-solo` folder and try to restart the setup of the Kube-solo VM (clicking on the setup option in the `kube-solo app`) and `Iterm2` crashes.
What can I do in order to re-start again?

[2017-03-15 09:25] rimusz commented on #169
@AntonioMeireles any idea what could be wrong with Openpgp there?

Without looking to logs I cannot tell why your iTerm2 crashes.

[2017-03-15 10:24] icougil commented on #169
Which logs do you want? I can share the crash report that popup when Iterm2 starts or whatever logfile you want.

[2017-03-15 16:02] rimusz commented on #169
the crash report that popup when Iterm2 starts ones, please

can you try to install Openpgp and see if that helps?

[2017-03-15 17:30] icougil commented on #169
in fact, I don't have Openpgp installed :-?

Here you can see the crash report of the Iterm2 when I try to set the 'initial-setup of the kube-solo VM'

[code]

[2017-03-16 08:48] rimusz commented on #169
ok, that's the iTerm crash log, no idea why that app crashes.
which version of iTerm you have there?

[2017-03-16 10:33] icougil commented on #169
When I press the Iterm crashes so I can't see anything else. The version I have is Build 3.0.15
It seems that for MacOSX there is no openpgp available. I have already installed gpg (GnuPG/MacGPG2) 2.0.30 with libgcrypt 1.7.0
There is no way to launch the 'initial-setup of the kube-solo VM' manually and see what is going on?

[2017-03-16 12:40] rimusz commented on #169
`/Applications/Kube-Solo.app/Contents/Resources/kube-solo-install.command` is the script app starts, but it will not work from terminal on it's own.

[2017-03-16 16:11] icougil commented on #169
So? What do you recommend? should I pass some parameter to that shell script in order to try it? or may be I should reinstall `kube-solo` + corectl? I think I did it, at least with the 1st using `brew uninstall` without success

[2017-03-17 08:30] rimusz commented on #169
try to reboot your Mac.
Also how did you install `kube-solo` and `corectl`?
`kube-solo` needs [corectl.app)](https://github.com/TheNewNormal/corectl.app) which takes care of `corectl` install.
What did you install with `brew` ?

[2017-03-17 10:23] knl opened #170 "Cannot start kube-solo when working behind http proxy"
Hi all,

I heard a lot about kubernetes and I wanted to try it. Hence I discovered kube-solo and wanted to use it to learn kubernetes. However, my laptop is behind a corporate firewall, and I can't get kube-solo to work, because corectl is failing, as it can't download coreos images. After I briefly switched to a public network and downloaded things, I was able to start my local kubernetes cluster

[2017-03-17 10:51] rimusz commented on #170
please open an issue at [corectl](https://github.com/TheNewNormal/corectl) as `kube-solo` is just a wrapper around it.

[2017-03-20 09:45] icougil commented on #169
Hi.
I've installed both using `brew` with:
[code]
After that, it seems that something is broken with corectl-app because no core-OS VM is running and also is impossible to download it -`iTerm2` crashes again :-(-
Any recommendation?

[2017-03-20 09:48] rimusz commented on #169
ok, I see, the brew stuff is not mine, so I cannot comment what is wrong with the install.
Uninstall them and install from releases:
https://github.com/TheNewNormal/corectl.app/releases
https://github.com/TheNewNormal/kube-solo-osx/releases

then let me know, thanks

[2017-03-20 10:02] icougil commented on #169
I verified that the versions of the applications that brew are installed are exactly the same as you have released.
I found that I get the same problem after trying to download the stable image from CoreOS application: (`/Applications/corectl.app/Contents/Resources/fetch_latest_iso_stable.command`):
[code]

Again the problem with `openpgp`

[2017-03-20 10:07] rimusz commented on #169
uninstall openpgp and try https://gpgtools.org/

[2017-03-20 10:09] icougil commented on #169
As I said before, I don't have openpgp installed I have already have GPGTools installed

[2017-03-20 10:12] rimusz commented on #169
GPGTools work just fine for me.
must something specific with your Mac setup

[2017-03-20 11:03] icougil commented on #169
oh! It seems that finally I found the problem!

Don't know why but the command `./fetch_latest_iso_stable.command` tries to download and verify the sum of the file was incorrect. May be a corrupted/broken file? Then the problem (I suppose) is that the verification of the downloaded file it was impossible and that's the reason of the failed message. Here you have it:

[code]

So, I supose that happ

[2017-03-20 11:07] rimusz commented on #169
kube-solo menu has an option `Preset OS shell` which has all `kubectl` and `docker` settings set.
The file is:
https://github.com/TheNewNormal/kube-solo-osx/blob/master/src/os_shell.command

[2017-03-28 19:59] mikedeltalima opened #171 "`ksolo start` hangs on Installing Kubernetes files"
Checking internet availablity on VM...
Yes, internet is available ...

Installing Kubernetes files on to VM...
2017-03-28 12:48:57.366650 I | uploading 'kube.tgz' to 'k8solo-01:/home/core/kube.tgz'
82.97 MB / 82.97 MB [============================================================================================================================================================================] 100.00

[2017-03-31 13:54] rimusz commented on #171
yes, seen that a few times, not really easy to reproduce.
just delete the `data.img` file and run `Up` from menu, in my case it works the second time.

[2017-04-03 16:25] jlinoff opened #172 "/usr/local/opt/libev/lib/libev.4.dylib not found because I use macports not brew"
This is a great package, thank you!

I use macports instead of brew so the documentation suggesting the `brew install libev` did not work for me.

Here is what I did to workaround the problem.

1. sudo port install libev
2. sudo mkdir -p /usr/local/opt
3. sudo ln -s /opt/macports/latest /usr/local/opt/libev
4. ls /usr/local/opt/libev/lib/libev.4.dylib

Note that `/opt/macports/latest` is where I i

[2017-04-03 16:25] jlinoff commented on #172
As noted in the original issue, this is already fixed so this can be closed. Is it worth adding to the docs?

[2017-04-03 16:25] #172 closed, assigned to nobody

[2017-04-04 13:40] bw2 opened #173 "setting volumes hostpath causes RunContainerError and/or kube-solo VM crash"
Hi, I'm trying to deploy a mongo container to kube-solo on MacOSX (v10.11.6).
It works as expected until I add a volume with hostPath as below. This leads to the pod not starting (status RunContainerError), and (after several modifications to the hostPath directory and restart attempts) causes kube-solo VM to crash, requiring a Setup > Destroy VM, Init VM cycle.
The hostPath directory exists and h

[2017-04-04 13:46] rimusz commented on #173
hey there, you are using the wrong host path, which point to in memory folder.
you need to use `/data` one, so your data can persist.

[2017-04-04 19:27] bw2 commented on #173
@rimusz I'm not sure I understand. Which lines of the deployment config would you change?

[2017-04-05 10:42] rimusz commented on #173
you need to change your mongodb deployment to:
[code]

[2017-04-06 11:36] bw2 commented on #173
Thanks, that makes sense.  I missed this line in the kube-solo REAMDE
```Persistent sparse disk (QCow2) data.img will be created and mounted to /data ```

I want these directories to persist across VM destroy / init cycles, so ended up putting them in my home dir  (eg. `/Users/bw2/data/postgres`)

[2017-04-06 11:37] #173 closed, assigned to nobody

[2017-04-22 11:32] ktamiola opened #174 "Dashboard stops rendering graphs after 24h"
Something quite peculiar is happening with dashboard / heapster. The graphs stop being rendered after roughly 24h. I have checked the logs of individual pods and I can't see anything unusual. Has anybody else seen this behaviour?

[2017-05-12 22:15] mikedeltalima commented on #171
I think this is due to a corrupt `data.img`. Running `qemu-img check ~/kube-solo/data.img -r all` and then `corectl panic k8solo-01` (if necessary) and then `ksolo start` fixed the issue for me.

[2017-05-14 04:21] bw2 opened #175 "How can you set cluster username / password, or pass --insecure-bind-address to kube-apiserver ?"
I'm trying to deploy the cockpit container (https://github.com/cockpit-project/cockpit) to a kube-solo cluster, but can't figure out how to use cockpit's authentication mechanism with kube-solo.

When I deploy to google container engine - I can login to cockpit using the cluster's "admin" username and password which I can look up using `kubectl config view `.

How can I set up equivalent credentia

[2017-06-01 04:54] verystrongjoe commented on #170
any update about this?

[2017-06-04 22:24] spundun commented on #161
From minikube's docs https://kubernetes.io/docs/getting-started-guides/minikube/ here are some listed features. It'd be useful to assert whether all these are supported by kube solo or not and if there are any features on top of this that kube solo supports.

Minikube Features
Minikube supports Kubernetes features such as:
DNS
NodePorts
ConfigMaps and Secrets
Dashboards
Container Runtime: Docker,

[2017-06-06 09:55] rimusz commented on #175
sorry for the late delay, you can add the `--insecure-bind-address` or `--basic-auth-file` in this part https://github.com/TheNewNormal/kube-solo-osx/blob/master/src/cloud-init/user-data#L164-L179

[2017-06-09 08:15] rimusz commented on #174
really weird one, but wasn't able to reproduce it

[2017-06-09 08:16] rimusz commented on #170
do not think so @AntonioMeireles had a chance to get it working yet

[2017-06-11 17:29] bw2 commented on #175
I tried creating a password file using  htpasswd and adding `--basic-auth-file=/Users/weisburd/kube-solo/cloud-init/basicauth`

but then VM startup stalls on
```Waiting for etcd service to be ready on VM...```

[2017-06-11 19:15] rimusz commented on #175
where are you adding `--basic-auth-file=/Users/weisburd/kube-solo/cloud-init/basicauth` to?

[2017-06-11 19:31] bw2 commented on #175
to this list
https://github.com/TheNewNormal/kube-solo-osx/blob/master/src/cloud-init/user-data#L164-L179
in `/Users/weisburd/kube-solo/user-data`

[2017-06-11 19:34] rimusz commented on #175
you cannot point to file that way, copy that file to VM first

[2017-06-11 19:34] bw2 commented on #175
Also, I'm seeing `--insecure-bind-address` is already set to 0.0.0.0 by default, but not sure if/how I need to change `--insecure-bind-port ` for this

[2017-06-11 19:43] bw2 commented on #175
sorry I don't understand re. user-data. Which directory should the file be placed in on the VM?
I just tried SSH'ing into the VM and looking for it, but I again only see it in ~/kube-solo/cloud-init/user-data:

[code]
and same thing in the repo:
https://github.com/TheNewNormal/kube-solo-osx/search?utf8=%E2%9C%93&q=+user-data&type=

[2017-06-11 19:55] rimusz commented on #175
here is the part where you can add files https://github.com/TheNewNormal/kube-solo-osx/blob/master/src/cloud-init/user-data#L270 them use that path --basic-auth

[2017-06-11 23:01] bw2 commented on #175
Just tried setting
[code]
and
[code]
it once again hangs at the `Waiting for etcd service to be ready on VM...` step,
but if I take out the ` --basic-auth=/opt/basicauth` line it does boot

[2017-07-05 04:43] b-rajesh opened #178 "Not able to upgrade kubernetes to 1.7"
Hi,

I tried to upgrade my kubernetes using kube solo to 1.7 and my solo stopped working and keep giving this message in loop

The connection to the server 192.168.64.2:8080 was refused - did you specify the right host or port

Any help ?

[2017-07-05 07:40] rimusz commented on #178
`kube-solo` only supports etcd v2 for now (needs work on it), kubernetes v 1.6 and v1.7 only work with etcd v3

[2017-07-06 07:28] b-rajesh commented on #178
thank you

[2017-07-06 07:28] #178 closed, assigned to nobody

[2017-07-08 10:21] rimusz opened #179 "Support kubernetes v1.7"

[2017-07-31 03:50] peng051410 opened #180 "SHA512 hash verification failed for coreos_production_pxe.vmlinuz"
When i run kube-solo setup the item2 show the error message blew:
SHA512 hash verification failed for coreos_production_pxe.vmlinuz

How do i fixed it?Thanks!

[2017-07-31 04:14] peng051410 commented on #180
Seeting up message:
Setting up Kubernetes Solo Cluster on macOS

Reading ssh key from /Users/tomyli/.ssh/id_rsa.pub

/Users/tomyli/.ssh/id_rsa.pub found, updating configuration files ...

Set CoreOS Release Channel:
 1)  Alpha (may not always function properly)
 2)  Beta
 3)  Stable (recommended)

Select an option:

Set CoreOS Release Channel:
 1)  Alpha (may not always function properly)
 2)  Bet

[2017-08-03 02:49] peng051410 commented on #180
My network error！

[2017-08-03 02:49] #180 closed, assigned to nobody

[2017-08-13 05:35] mattvonrocketstein opened #181 "error with floats when setting VM RAM size"
[code]

[2017-09-19 23:39] bw2 opened #182 "readiness probes don't run"
I've defined a readiness probe that's supposed to run a shell script as documented in
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes#define-readiness-probes

It works when deployed to GKE, but on kube-solo the pod never transitions to "ready" state. After some debugging, it looks like the script is never executed.

[2017-09-20 10:28] rimusz commented on #182
not sure that is really related to `kube-solo`, but apps they do behave differently on local and cloud deployment

[2017-10-03 14:10] rbizzell40 opened #183 "Kube-solo fails Signature Check for DIGESTS failed"
I am running Mac OS Sierra 10.12.6.

When I bring up the vm it errors on creation
reating 40GB sparse disk (QCow2)...
dyld: Library not loaded: /usr/local/opt/libev/lib/libev.4.dylib
  Referenced from: /Users/rodneybizzell/bin/qcow-tool
  Reason: image not found
/Applications/Kube-Solo.app/Contents/Resources/functions.sh: line 133:  6204 Abort trap: 6           ~/bin/qcow-tool create --size=40GiB

[2017-10-03 14:35] rimusz commented on #183
we are going to cut a new https://github.com/TheNewNormal/corectl version hopefully tomorrow, to fix that issue

[2017-10-03 15:46] rbizzell40 commented on #183
Ok

On Oct 3, 2017 10:35 AM, "Rimas Mocevicius" <notifications@github.com>
wrote:

[2017-10-14 03:18] ghost commented on #183
Any updated status on this, I am also getting the same issue with the latest release.

[2017-10-25 16:00] mtrimmatdyn commented on #183
likewise, i too am having this issue

[2017-10-25 16:03] rimusz commented on #183
I'm waiting for @AntonioMeireles to release a new version of https://github.com/TheNewNormal/corectl